db/
db.sqlite3
node_modules/
.idea/
*.pyc
static/
*.log
.DS_Store
user_data
.venv
assets/bundles
*.pkl
*.xls*
*-stats.json
mossop.db
*.bak
*.out
*.lprof
*.db
help.md
settings.yaml
backups/
*.h5
**/management/commands/_*
notebooks/.ipynb_checkpoints/
csv/
.env
*.deploy
