#image: alpine:3.4
image: agileware/python-3.6.1-node-6.11

before_script:
  - pip install pycodestyle==2.0.0 flake8==2.6.2 flake8-docstrings==1.3.0 flake8-polyfill==1.0.2 flake8-putty==0.4.0
  - npm install -g eslint
  - pwd
  - ls -l

check-coding-standard-compliance:
  script:
  - flake8
  - eslint assets
  allow_failure: false

