Cython
numpy
scipy
amqp==2.1.4
appdirs==1.4.3
appnope==0.1.0
aspy.yaml==0.2.2
backports.shutil-get-terminal-size==1.0.0
bandit==1.4.0
billiard==3.5.0.2
boltons==16.1.1
brotlipy==0.6.0
cached-property==1.3.0
celery==4.0.2
certifi==2017.1.23
cffi==1.10.0
click==6.7
coverage==4.3.4
cycler==0.10.0
dask==0.14.1
decorator==4.0.11
dj-database-url==0.4.2
Django==2.0.1
django-log-request-id==1.3.2
django-model-utils==2.6.1
django-naomi==0.8
django-webpack-loader
django-widget-tweaks==1.4.1
django-js-reverse
enum34==1.1.6
flake8==2.6.2
flake8-putty==0.4.0
gitdb2==2.0.0
GitPython==2.1.3
gunicorn==19.7.1
isort==4.2.5
kombu==4.0.2
mccabe==0.5.3
model-mommy==1.3.2
networkx==1.11
nodeenv==1.1.2
olefile==0.44
opbeat>=3.6.0
packaging==16.8
pathlib2==2.2.1
pbr==2.0.0
pexpect==4.2.1
pickleshare==0.7.4
pre-commit==0.13.6
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.1
pycodestyle==2.0.0
pycparser==2.17
pyflakes==1.2.3
pyparsing==2.2.0
python-dateutil==2.6.0
python-decouple==3.0
pytz==2016.10
PyYAML==3.12
redis==2.10.5
requests==2.13.0
safety==1.1.1
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
smmap2==2.0.1
stevedore==1.21.0
termcolor==1.1.0
toolz==0.8.2
traitlets==4.3.2
urllib3==1.20
vine==1.1.3
virtualenv==15.1.0
wcwidth==0.1.7
whitenoise==3.3.0
tzlocal==1.4
django-cors-headers
django-redis
line_profiler
dotmap
django-countries
Pillow
git+https://github.com/fzyukio/cdtw
progress
git+https://github.com/fzyukio/python_speech_features
matplotlib
openpyxl
mysqlclient
Markdown
python-markdown-oembed
djangorestframework==3.7.7
wagtail==2.0rc1
pydub
flake8-docstrings
