Django==2.0.4
Pillow==8.1.2
PyYAML==3.12
celery==4.3.1
colorama==0.4.1
coverage==4.3.4
dj-database-url==0.4.2
django-bulk-update==2.2.0
django-bulk-update==2.2.0
django-celery-results==1.0.4
django-cors-headers==2.5.3
django-extensions==2.1.6
django-js-reverse==0.8.2
django-log-request-id==1.3.2
django-memoize@git+https://github.com/fzyukio/django-memoize@342a812ff0c864f3480c7e0c14b92ae1cf85d6b2
django-model-utils==2.6.1
django-naomi==0.8
django-redis==4.10.0
django-tz-detect==0.2.10
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.1
djangorestframework==3.8.2
dotmap==1.3.8
librosa==0.8.0
matplotlib==3.3.4
mysqlclient==1.4.2.post1
nltk==3.4.3
numba==0.53.0
numpy==1.19.5
progress==1.5
pycspade==0.6.6
pydub==0.23.1
pymlfunc==0.0.3
PyMySQL==1.0.2
pytz==2016.10
raven==6.10.0
redis==3.2.0
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.2.1
sortedcontainers==2.1.0
spectrum@git+https://github.com/fzyukio/spectrum@51fdb7b8c8ce47fde4102c24b336193e16cbbad7
whitenoise==3.3.0
