{% load custom_tags %}

<div class="sidebar-controllers">
    <label>Track info</label>
    <div id="replaceable-after">
    </div>
    <button type="button" class="btn btn-xs btn-default btn-block save-track-info">Save Change</button>
</div>

<div class="sidebar-controllers">
    <button type="button" disabled id="delete-songs-btn" class="btn btn-xs btn-default btn-block">Delete</button>
    <button type="button" disabled id="save-songs-btn" class="btn btn-xs btn-default btn-block">Save</button>
</div>

<div class="sidebar-controllers last">
    {% include "sidebar/download-csv-btns.html" %}
</div>
