{% load custom_tags %}

{% include 'sidebar/temporary-db-warning.html' %}

<div class="sidebar-controllers">
    {% include "sidebar/database-picker.html" %}
    {% include "sidebar/viewas-picker.html" %}
    {% include "sidebar/granularity-picker.html" %}
    {% include "sidebar/speed-slider.html" %}
</div>

{% if db_assignment.can_delete_files %}
<div class="sidebar-controllers">
    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Enable song name edit</span>
        <input id="song-name-edit-enabled" type="checkbox" class="pull-right"/>
    </div>
</div>
{% endif %}

{% if db_assignment.can_copy_files %}
<div class="sidebar-controllers">
    {% if db_assignment.can_add_files %}
        <button type="button" id="upload-songs-btn" class="btn btn-xs btn-default btn-block">Upload songs</button>
    {% endif %}

    {% if db_assignment.can_download_files %}
        <button type="button" id="download-songs-btn" class="btn btn-xs btn-default btn-block">Download songs</button>
    {% endif %}

    {% if db_assignment.can_copy_files %}
        <button type="button" disabled id="copy-songs-btn" class="btn btn-xs btn-default btn-block">Copy to another database</button>
    {% endif %}

    {% if db_assignment.can_delete_files %}
        <button type="button" disabled id="delete-songs-btn" class="btn btn-xs btn-default btn-block">Delete selected songs</button>
    {% endif %}
</div>
{% endif %}

<div class="sidebar-controllers last">
    {% include "sidebar/upload-csv-btns.html"%}
    {% include "sidebar/download-csv-btns.html"%}
</div>
