<div class="sidebar-controllers">
    {% include "sidebar/database-picker.html" %}
    {% include "sidebar/viewas-picker.html" %}
</div>

<div class="sidebar-controllers">
    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Separate units by actual time</span>
        <input id="slider-enabled" type="checkbox" class="pull-right"/>
    </div>

    <div class="slider-group row no-margin">
        <div class="col-xs-8 no-padding slider-label">Max gap: <span
            id="maxgap-slider-value">1000</span><span>ms</span></div>
        <div class="col-xs-4 no-padding">
            <input id="maxgap-slider" type="text" data-slider-enabled="false"
               data-slider-min="10" data-slider-max="1000" data-slider-step="10"
               data-slider-value="1000" data-slider-tooltip="hide"/>
        </div>
    </div>

    <div class="slider-group row no-margin">
        <div class="col-xs-8 no-padding slider-label">Min gap: <span
            id="mingap-slider-value">0</span><span>ms</span></div>
        <div class="col-xs-4 no-padding">
            <input id="mingap-slider" type="text" data-slider-enabled="false"
               data-slider-min="0" data-slider-max="100" data-slider-step="1"
               data-slider-value="0" data-slider-tooltip="hide"/>
        </div>
    </div>
</div>

<div class="sidebar-controllers">
    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Show pseudo begin and end</span>
        <input id="toggle-pseudo-nodes" checked type="checkbox" class="pull-right"/>
    </div>

    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Show node labels</span>
        <input id="toggle-labels" checked type="checkbox" class="pull-right"/>
    </div>
</div>

<div class="sidebar-controllers">
    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Reactive pseudo start</span>
        <input id="toggle-pseudo-start-reactive" type="checkbox" class="pull-right"/>
    </div>

    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Reactive pseudo end</span>
        <input id="toggle-pseudo-end-reactive" type="checkbox" class="pull-right"/>
    </div>

    <div class="input-group row no-margin">
        <span class="input-group-addon no-padding-left">Centering</span>
        <input id="toggle-centering" checked type="checkbox" class="pull-right"/>
    </div>
</div>

<div class="sidebar-controllers">
    <div class="slider-group row no-margin">
        <div class="col-xs-8 no-padding slider-label">Repulsion: <span
            id="charge-slider-value">10</span></div>
        <div class="col-xs-4 no-padding">
            <input id="charge-slider" type="text" data-slider-enabled="true"
               data-slider-min="0" data-slider-max="50" data-slider-step="1"
               data-slider-value="10" data-slider-tooltip="hide"/>
        </div>
    </div>

    <div class="slider-group row no-margin">
        <div class="col-xs-8 no-padding slider-label">Distance: <span
            id="distance-slider-value">100</span>%</div>
        <div class="col-xs-4 no-padding">
            <input id="distance-slider" type="text" data-slider-enabled="true"
               data-slider-min="10" data-slider-max="400" data-slider-step="10"
               data-slider-value="100" data-slider-tooltip="hide"/>
        </div>
    </div>

</div>

<div class="sidebar-controllers last">
    {% include "sidebar/download-csv-btns.html" %}
</div>
