<div class="menu-item">
    <label>Current ordination</label>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"> {{ current_ordination.get_name | truncatechars:10 }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for ordination in ordinations %}
                <li class="{% if current_ordination.id == ordination.id %}active{% else %}not-active{% endif %}">
                    {% with ordination.get_name as fullname %}
                    <a href="#" class="change-arg" key="ordination" replace="tmpdb" value="{{ ordination.id }}"
                       data-toggle="tooltip" data-placement="top" title="{{ fullname }} {% if ordination.params %} | {{ ordination.params }} {% endif %}">
                        {{ fullname | truncatechars:15 }}{% if ordination.params %} | {{ ordination.params | truncatechars:10 }} {% endif %}
                    </a>
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
