<div class="menu-item">
    <label>Current ordination</label>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"> {{ current_ordination.get_name | truncatechars:10 }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for ordination in ordinations %}
                <li class="{% if current_ordination.id == ordination.id %}active{% else %}not-active{% endif %}">
                    <a href="#" class="change-arg" key="_ordination" replace="tmpdb" value="{{ ordination.id }}">
                        {{ ordination.get_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
