{% load static %}
{% load cache %}
{% load custom_tags %}

<nav id="sidebar-wrapper" page="{{ page }}">
    <div id="sidebar-content">
        <div id="sidebar-brand">
            <a href="/">声KOE</a>
            <i id="menu-closer" class="fa fa-times pull-right siderbar-toggler" aria-hidden="true"></i>
        </div>

        <div id="sidebar-header">
            <div id="user-pic">
                <img class="img-responsive img-rounded" email="{{ user.email }}" alt="User picture">
            </div>
            <div id="user-info">
                <span id="user-name"><strong>{{ user.username }}</strong></span>
                <span class="text-left small">{{ user.email | truncatechars:20}}</span>
                <a href="{% url 'logout' %}" class="btn btn-xs btn-primary btn-block">Log out</a>
            </div>
        </div>

        {% with controller_name='sidebar/controller_'|add:page|add:".html" %}
            {% include controller_name %}
        {% endwith %}

        <div id="sidebar-menu" page="{{ page }}">
            <ul>
                <li class="menu-section">
                    <span>Workflow</span>
                    <div class="menu-item" page="dashboard">
                        <a href="{% url 'dashboard' %}">
                            <span>Manage your database</span>
                        </a>
                    </div>
                    {% if db_assignment.can_add_files %}
                    <div class="menu-item" page="song-partition">
                        <a class="appendable" href="{% url 'song-partition' %}">
                            <span>Upload & split raw recordings</span>
                        </a>
                    </div>
                    <div class="menu-item" page="">
                        <a href="{% url 'songs' %}?__action=upload">
                            <span>Upload songs</span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="menu-item" page="segmentation">
                        <a href="#" data-toggle="modal" data-target="#go-to-songs-modal">
                            <span>Segment songs into units</span>
                        </a>
                    </div>

                    <div class="menu-item-expandable">
                        <a href="#">
                            <span>Extract features and compare</span>
                        </a>
                        <div class="menu-submenu">
                            <ul>
                                <li page="feature-extraction">
                                    <a href="{% url 'feature-extraction' %}">
                                        <span>Extract unit features</span>
                                    </a>
                                </li>
                                <li page="ordination-extraction">
                                    <a href="{% url 'ordination-extraction' %}">
                                        <span>Construct ordination</span>
                                    </a>
                                </li>
                                <li page="similarity-extraction">
                                    <a href="{% url 'similarity-extraction' %}">
                                        <span>Calculate similarity</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="menu-item-expandable">
                        <a href="#">
                            <span>Classify & manage units</span>
                        </a>
                        <div class="menu-submenu">
                            <ul>
                                <li page="view-ordination">
                                    <a class="appendable" href="{% url 'view-ordination' %}">
                                        <span>Ordination</span>
                                    </a>
                                </li>

                                <li page="syllables">
                                    <a class="appendable" href="{% url 'syllables' %}">
                                        <span>Unit table</span>
                                    </a>
                                </li>

                                <li page="exemplars">
                                    <a class="appendable" href="{% url 'exemplars' %}">
                                        <span>Exemplars</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="menu-item" page="songs">
                        <a class="appendable" href="{% url 'songs' %}">
                            <span>View all songs</span>
                        </a>
                    </div>

                    <div class="menu-item" page="sequence-mining">
                        <a class="appendable" href="{% url 'sequence-mining' %}">
                            <span>Mine sequence structure</span>
                        </a>
                    </div>
                </li>

                <li class="menu-section">
                    <span>Extra</span>
                    <div class="menu-item" page="help">
                        <a href="https://github.com/fzyukio/koe/wiki">
                            <span>Help</span>
                        </a>
                    </div>
                    <div class="menu-item" page="contact-us">
                        <a href="{% url 'contact-us' %}">
                            <span>Contact us</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div id="sidebar-footer">
        <a href="//gitlab.com/yukio/koe">
            <i class="fa fa-gitlab"></i>
        </a>
        <a href="//github.com/fzyukio">
            <i class="fa fa-github"></i>
        </a>
        <a href="#">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fa fa-youtube"></i>
        </a>
    </div>
</nav>

{% include 'partials/go-to-songs-modal.html' %}
