<div class="menu-item">
    <label>Current similarity</label>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"> {{ current_similarity | truncatechars:10 }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for similarity in similaritys %}
                <li class="{% if current_similarity.id == similarity.id %}active{% else %}not-active{% endif %}">
                    <a href="#" class="change-arg" key="similarity" replace="tmpdb" value="{{ similarity.id }}">
                        {{ similarity }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
