<div class="btn-group dropup" role="group">
    <button type="button" class="btn btn-black dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Export
        <span class="caret"></span>
    </button>
    <form id="csv-upload-form" method="post" enctype="multipart/form-data" style="display: none">
        <input type="file" name="file" accept="text/csv">
        <input class="database-value" name="database" type="text" value="{{ current_database.id }}">
        <input type="submit">
    </form>
    <ul class="dropdown-menu">
        <li><a class="upload-xls">Upload CSV</a></li>
        <li><a class="download-xls" data-download-type="all">Entire table</a></li>
        <li><a class="download-xls" data-download-type="visible-rows-only">Visible rows only</a>
        </li>
    </ul>
</div>
