{% load cache %}
{% cache None modal order yes no%}
<div class="modal fade in" id="dialog-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="">
        <div class="modal-content" style="">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    {% if order == 'yes-no' %}
                        <div class="btn-group" role="group">
                            <button type="button" id="dialog-modal-yes-button"
                                    class="btn btn-primary btn-hover-green"
                                    role="button">
                                {{ yes }}
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" role="button">
                                {{ no }}
                            </button>
                        </div>
                    {% else %}
                        <div class="btn-group" role="group">
                            <button type="button" id="dialog-modal-no-button" class="btn btn-primary"
                                    data-dismiss="modal" role="button">
                                {{ no }}
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="dialog-modal-yes-button"
                                    class="btn btn-primary btn-hover-green"
                                    role="button">
                                {{ yes }}
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endcache %}
