{% load staticfiles %}
{% load widget_tweaks %}

{% if task %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>Success!</strong>
        Task #{{ task.id }} has been submitted and scheduled to run. You will get an email notification when it
        finishes.
    </div>
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading"><strong>Ordination construction queue</strong></div>
    <div class="panel-body">
        <p>Following are pending ordination construction tasks submitted by all users for all databases and collections.</p>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Task</th>
            <th>User</th>
            <th>Database</th>
            <th>Data Matrix</th>
            <th>Created</th>
            <th>Started</th>
            <th>Progress</th>
        </tr>
        </thead>
        <tbody>
        {% for ord, subtasks in all_incomplete_ords2tasks %}
            <tr>
                <th scope="row">{{ ord.task.id }}</th>
                <td>{{ ord.task.user.username }}</td>
                {% if ord.dm.database %}
                    <td>{{ ord.dm.database.name }}</td>
                {% else %}
                    <td>{{ ord.dm.tmpdb.name }}</td>
                {% endif %}

                <td>{{ ord.dm.name }}</td>
                <td>{{ ord.task.created }}</td>
                <td>{{ ord.task.started }}</td>
                <td>
                    <div class="progress">
                        <span class="progress-value">{{ ord.task.pc_complete | floatformat }}% {{ ord.task.get_stage_display }}</span>
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ ord.task.pc_complete | floatformat }}%">
                        </div>
                    </div>
                </td>
            </tr>
            {% for subtask in subtasks %}
                <tr class="subtask">
                    <td colspan="4">Subtask #{{ subtask.id }}</td>
                    <td>{{ subtask.created }}</td>
                    <td>{{ subtask.started }}</td>
                    <td>
                        <div class="progress">
                            <span class="progress-value">{{ subtask.pc_complete | floatformat }}% {{ subtask.get_stage_display }}</span>
                            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{ subtask.pc_complete | floatformat }}%">
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
