<div id="visualisation-control" class="row no-margin">
    <div class="col-lg-10 col-md-8 no-padding">
        <div class="btn-group control-item" role="group" aria-label="...">
            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Zoom: <span id="zoom-btn-text">{% if internal_zoom %}{{ internal_zoom }}{% else %}
                100{% endif %}% </span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li {% if internal_zoom == '25' %}class="active"{% endif %}>
                    <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=25>25%</a></li>
                <li {% if internal_zoom == '50' %}class="active"{% endif %}>
                    <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=50>50%</a></li>
                <li {% if not internal_zoom or internal_zoom == '100' %}class="active"{% endif %}>
                    <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=100>100%</a></li>
                <li {% if internal_zoom == '200' %}class="active"{% endif %}>
                    <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=200>200%</a></li>
                <li {% if internal_zoom == '300' %}class="active"{% endif %}>
                    <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=300>300%</a></li>
                <li {% if internal_zoom == '400' %}class="active"{% endif %}>
                    <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=400>400%</a></li>
                <li {% if internal_zoom == '500' %}class="active"{% endif %}>
                        <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=500>500%</a></li>
                <li {% if internal_zoom == '600' %}class="active"{% endif %}>
                        <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=600>600%</a></li>
                <li {% if internal_zoom == '700' %}class="active"{% endif %}>
                        <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=700>700%</a></li>
                <li {% if internal_zoom == '800' %}class="active"{% endif %}>
                        <a class="select-zoom change-arg quiet" href="#" key="_zoom" value=800>800%</a></li>
            </ul>
        </div>

        <div class="btn-group control-item" role="group" aria-label="...">
            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Colour map: <span id="cm-btn-text">{% if internal_cm %}{{ internal_cm }}{% else %}Green{% endif %} </span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li {% if not internal_cm or internal_zoom == 'Green' %}class="active"{% endif %}>
                    <a class="select-cm change-arg quiet" href="#" key="_cm" value=Green>Green</a></li>
                <li {% if internal_cm == 'Jet' %}class="active"{% endif %}>
                    <a class="select-cm change-arg quiet" href="#" key="_cm" value=Jet>Jet</a></li>
                <li {% if internal_cm == 'Gray' %}class="active"{% endif %}>
                    <a class="select-cm change-arg quiet" href="#" key="_cm" value=Gray>Gray</a></li>
            </ul>
        </div>

        <div class="btn-group control-item" role="group" aria-label="...">
            <button id="play-song" type="button" class="btn btn-xs btn-primary">Play</button>
            <button id="pause-song" type="button" class="btn btn-xs btn-primary" style="display: none;">Pause</button>
            <button id="resume-song" type="button" class="btn btn-xs btn-primary" style="display: none;">Resume</button>
            <button id="stop-song" type="button" class="btn btn-xs btn-primary">Stop</button>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 no-padding">
        <div class="control-item slider-group">
            <div class="col-xs-5 col-lg-4 no-padding-left">Speed</div>
            <div class="col-xs-7 col-lg-8 no-padding-left">
                <input id="speed-slider" type="text"
                       data-slider-min="10" data-slider-max="100" data-slider-step="10"
                       data-slider-value="100"/>
            </div>

        </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 no-padding">
        <div class="control-item slider-group">
            <div class="col-xs-6 no-padding-left slider-label">Contrast</div>
            <div class="col-xs-6 no-padding-left">
                <input id="contrast-slider" type="text"
                       data-slider-min="0" data-slider-max="100" data-slider-step="1"
                       data-slider-value="0"/>
            </div>
        </div>
    </div>
</div>
