{% load widget_tweaks %}

<input type="hidden" name="track_id" {% if track_id %} value="{{ track_id }}" {% endif %} id="id_track_id"
       valid="{% if valid %}true{% else %}false{% endif %}">

<div class="input-group input-group-sm">
    <span class="input-group-addon">Track name</span>
    {{ form.name|add_error_class:"has-error"|add_class:"form-control" }}
    {{ form.name.errors }}
</div>

<div class="input-group input-group-sm">
    <span class="input-group-addon">Record date</span>
    {{ form.date|add_error_class:"has-error"|add_class:"form-control" }}
    {{ form.date.errors }}
</div>
