{% extends 'base.html' %}
{% load custom_tags %}


{% block main-content %}
    <div class="main-content has-footer">
        <div class="content-center">
            {% block content-center %}{% endblock %}
        </div>
    </div>

    {# This is where we put the buttons #}
    <div id="bottom">
        <div class="alert alert-success">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <div class="message"></div>
        </div>
        <div class="alert alert-danger">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <span class="message"></span>
            <span class="report">
                Click
                <strong>
                    <a class="link" href="#" error-id="" onclick="showErrorDialog(this.getAttribute('error-id'));">
                        here
                    </a>
                </strong>
                to give a detail report.
            </span>
        </div>

        {% block bottom %}{% endblock %}
    </div>

{% endblock %}
