{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block main-content %}
    <div class="main-content has-sidebar {% block main-content-classes %}{% endblock %}">
        <div class="content-center">
            <div id="contact-us-content">
                <div class="row no-margin">
                    <div id="koe-logo" class="col-xs-12 no-padding pull-right">
                        <div id="koe-logo-left" class="col-xs-4 no-padding-left">
                            <img src="{% static 'images/help/koe-logo-no-text.jpg' %}">
                        </div>
                        <div id="koe-logo-right" class="col-xs-8 no-padding">
                            <div>声 [ja] /ko eꜜ/ <i class="fa fa-play playable"
                                                   audio-src="{% static 'audio/koe-pronunciation.mp3' %}"></i></div>
                            <div>alarm, cry, voice, (bird) song, chirp</div>
                        </div>
                    </div>
                </div>

                <h3>Legal</h3>
                <p>Koe is licensed under GPL version 3.0</p>
                <p>Copyright Ⓒ2017-2019 Yukio Fukuzawa. All rights reserved.</p>
                <p>By using Koe you agree that you never, under any circumstances, get me into any trouble, for any
                    issues related to your use of Koe or any derivative thereof, whether the issues are legal or
                    non-legal.</p>

                <h3>Questions? Comments? Suggestions?</h3>
                <p>Koe is being developed at the Institute of Natural and Mathematical Sciences, Massey University, New
                    Zealand
                    by biologist Wesley Webb and computer scientist Yukio Fukuzawa</p>
                <p>We would love to hear from you. Contact us using the form below.</p>
                <p>We hope you find Koe useful.</p>

                <br>

                <form id="contact-us-form" url="{% url "contact-us" %}" method="post">
                    {% csrf_token %}

                    <div class="replaceable">
                        {% include 'partials/contact-us-form.html' %}
                    </div>

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" id="submit-inquiry" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
