{% extends 'base-with-grid-and-footer.html' %}

{% block title %}
    Exemplars
    {% if from_user != user %} by {{ from_user.username }}{% endif %}
{% endblock %}

{% block content-grid %}

    <div id="controller-wrapper">

        <div id="grid-status">
            <div class="input-group">
                <span class="input-group-addon left"><span id="nselected">0</span>/<span id="ntotal">0</span></span>
            </div>
        </div>

        <div class="slider-group">
            <div class="input-group">
                <span class="input-group-addon left">Speed</span>
                <input id="speed-slider" type="text"
                       data-slider-min="10" data-slider-max="100" data-slider-step="10" data-slider-value="100"/>
            </div>
        </div>

        <div class="grid-controller">
            <div class="input-group">
                <span class="input-group-addon left">Filter</span>
                <input id="exemplars-grid-filter" type="text" class="form-control middle">

                {% include "partials/page-controller-settings-btn.html" %}

            </div>
        </div>
    </div>

    <div class="vh-offset has-grid" id="exemplars-grid" cls="{{ cls }}" from_user="{{ from_user.username }}"></div>
    <div class="offset-holder" id="exemplars-grid-offset-holder" attr="height"></div>

    <div id="spectrogram-details-tooltip" class="hidden">
        <img src=""/>
    </div>

{% endblock %}

{% block modal-button %}
    <div class="btn-group" role="group">
        <button type="button" id="dialog-modal-yes-button" data-action="save" role="button"
                class="btn btn-primary btn-hover-green">Set
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" data-dismiss="modal" role="button">Cancel
        </button>
    </div>
{% endblock %}

{% block bottom %}
{% endblock %}
