{% extends 'base-with-sidebar-and-grid.html' %}

{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Feature Extraction{% endblock %}


{% block content-center %}
    <div id="selection-form-wrapper">
        <form role="form" method="post" id="feature-extraction-form" url="{% url 'feature-extraction' %}">
            <div class="replaceable">
                {% include 'partials/feature-selection-form.html' %}
            </div>
        </form>
    </div>
{% endblock %}


{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button disabled id="download-btn" type="button" class="btn btn-black">Download (csv)</button>
        </div>
        <div class="btn-group" role="group">
            <button disabled id="visualise-btn" type="button" class="btn btn-black">Visualise
            </button>
        </div>
    </div>
{% endblock %}

