{% extends 'base-with-sidebar-and-grid.html' %}

{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Feature Extraction{% endblock %}


{% block content-center %}
    <div id="hidden-data" style="display: none;">
        <div name="dms">
            {% for dm in completed_dms %}
                <div type="entry" key="{{ dm.id }}" fts="{{ dm.features_hash }}"
                     ags="{{ dm.aggregations_hash }}" completed="true"></div>
            {% endfor %}
            {% for dm in incomplete_dms %}
                <div type="entry" key="{{ dm.id }}" fts="{{ dm.features_hash }}"
                     ags="{{ dm.aggregations_hash }}" completed="false"></div>
            {% endfor %}
        </div>
    </div>

    <div id="replaceable-on-success">
        {% include 'partials/feature-extraction-tasks.html' %}

        <div class="panel panel-default">
            <div class="panel-heading"><strong>New extraction</strong></div>
            <div class="panel-body">
                <form role="form" method="post" id="feature-extraction-form" url="{% url 'feature-extraction' %}"
                      {% if current_database.is_real %}database{% else %}tmpdb{% endif %}="{{ current_database.id }}">
                    {% csrf_token %}
                    <div id="replaceable-on-failure">
                        {% include 'partials/feature-selection-form.html' %}
                    </div>
                </form>
            </div>
            <div class="panel-footer no-padding">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="submit" disabled id="schedule-btn" class="btn btn-primary btn-block">
                            Submit extraction job
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
