{% extends "base-with-grid-and-footer.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content-grid %}

    <div class="vh-offset has-grid" id="help-content-wrapper">
        <form role="form" url="{% url "help-edit" %}" method="post">
            {% csrf_token %}
            {{ form.content|add_error_class:"has-error"|add_class:"form-control"}}
            {{ form.content.errors }}
        </form>
    </div>
    <div class="offset-holder" id="help-content-wrapper-offset-holder" attr="height"></div>

{% endblock %}

{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button id="submit-content-btn" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
{% endblock %}