{% extends "base.html" %}
{% load static %}

{% block content-wrapper %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="">
                <a href="/" class="navbar-brand brand-image">
                    <img class="pull-left" alt="Koe's Logo" src="{% static "images/favicon/android-icon-36x36.png" %}"></a>
                <a href="/" class="navbar-brand text">声KOE</a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="link"><a href="https://github.com/fzyukio/koe/wiki">User Manual</a></li>
                    <li>
                        <a>
                            <div class="btn-group" role="group">
                                <button type="button" id="dialog-modal-yes-button"
                                        class="btn btn-primary btn-hover-green btn-xs"
                                        role="button" href="{% url 'login' %}">
                                    Login
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" id="dialog-modal-no-button" class="btn btn-primary btn-xs"
                                        data-dismiss="modal" role="button" href="{% url 'register' %}">
                                    Register
                                </button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="section">
    <div id="section-1" class="row no-margin"
         style="background-image: url('{% static "images/landing-page-section1-background.jpg" %}');">
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <div id="section-1a" class="section-title">
                <h1>Web-based software for analysing animal vocalisations</h1>
                <h3>Open-sourced, Multi-user, Free to use, Cross-platform</h3>
            </div>
            <div id="section-1b" class="section-body">
                <img src="{% static "images/landing-page-section1-screenshot.jpg" %}">
            </div>
        </div>
    </div>

    <div id="section-2" class="row no-margin">
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <div id="section-2a" class="col-xs-12 section-title">
                <h1>Key features</h1>
                <h3>Visualising, segmenting, measuring, classifying, filtering and exporting acoustic units, and
                    analysing sequence structure (syntax). Suitable for animal species with distinct acoustic units.
                </h3>
            </div>
            <div id="section-2b" class="col-xs-12 section-body">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h4 class="panel-title">Classify units: Interactive unit tables</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="col-xs-12 col-sm-8">
                            <li>Unit spectrograms, audio, and metadata all together in one place.</li>
                            <li>Compare, select, classify and annotate units rapidly.</li>
                            <li>Automatically group units by acoustic similarity to facilitate bulk
                                classification.
                            </li>
                            <li>Classify at multiple levels of granularity: fine, medium and broad, for different
                                scales
                                of analysis.
                            </li>
                            <li>Sort, filter and export data.</li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "images/feature-1.jpg" %}">
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h4 class="panel-title">Classify units: Interactive ordination
                        plots</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="col-xs-12 col-sm-8">
                            <li>Visualise data structure based on extracted acoustic features.</li>
                            <li>Encircle groups of points on the ordination to see spectrograms, hear playback, and
                                bulk-label groups of units.
                            </li>
                            <li>Toggle visibility of individual classes and zoom plot for added control.</li>
                            <li>View selections as a subset unit table.</li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "images/feature-2.jpg" %}">
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h4 class="panel-title">Catalogue unit classes</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="col-xs-12 col-sm-8">
                            <li>Catalogue generated dynamically as you classify units, as a useful reference</li>
                            <li>Displays up to 10 randomly-selected exemplars for each class to represent
                                within-class
                                variability
                            </li>
                            <li>Class counts, exemplar spectrograms and audio playback</li>
                            <li>Sort, filter and export class list and counts</li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "images/feature-3.jpg" %}">
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h4 class="panel-title">View songs as sequences</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="col-xs-12 col-sm-8">
                            <li>Compare songs based on audio and sequence structure</li>
                            <li>Sort, select, annotate and classify songs</li>
                            <li>Filter by sequence structure to find shared sequences</li>
                            <li>Export song audio and metadata</li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "images/feature-4.jpg" %}">
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h4 class="panel-title">Mine sequence structure</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="col-xs-12 col-sm-8">
                            <li>Find the strength of syntactical association between unit classes across a group of
                                songs
                            </li>
                            <li>View two-unit associations as an interactive network</li>
                            <li>Filter network based on association strength/prevalence</li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "images/feature-5.jpg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section-3" class="row no-margin">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <div id="section-3a" class="col-xs-12 section-title">
                <h1>Compare with other software</h1>
            </div>
            <div id="section-3b" class="col-xs-12 section-body">
                <div style="overflow: auto">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Feature</th>
                            <th style="width: 12%">Koe</th>
                            <th>Raven Pro</th>
                            <th>Sound Analysis Pro 2011</th>
                            <th>Luscinia</th>
                            <th>WarbleR</th>
                            <th>Avisoft</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Date of latest release</td>
                            <td>2019</td>
                            <td>2017</td>
                            <td>2011</td>
                            <td>2016</td>
                            <td>2019</td>
                            <td>2019</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Cost</td>
                            <td>Free</td>
                            <td>US$400-800 or US$100 pa</td>
                            <td>Free</td>
                            <td>Free</td>
                            <td>Free</td>
                            <td>€1800-€2400</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Platform</td>
                            <td><i class="fa fa-windows"></i> <i class="fa fa-apple"></i> <i class="fa fa-linux"></i> <i
                                    class="fa fa-android"></i> <i class="fa fa-tablet"></i></td>
                            <td><i class="fa fa-windows"></i> <i class="fa fa-apple"></i></td>
                            <td><i class="fa fa-windows"></i></td>
                            <td><i class="fa fa-windows"></i> <i class="fa fa-apple"></i></td>
                            <td><i class="fa fa-windows"></i> <i class="fa fa-apple"></i></td>
                            <td><i class="fa fa-windows"></i></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Open source</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Integrated database</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Filter/search metadata</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Multiple simultaneous users (collaboration)</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Segmentation start/end points of units saved to database</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Interactively visualise many units at once (spectrograms / playback)</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Manually classify units in bulk</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Ordination-assisted manual classification</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Interactive catalogue of class exemplars</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>View features as spectrogram traces</td>
                            <td class='r'>✖</td>
                            <td class='g'>✔</td>
                            <td class='g'>✔</td>
                            <td class='g'>✔</td>
                            <td class='g'>✔(?)</td>
                            <td class='g'>✔</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Visualise sequence structure across multiple songs</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Visualise sequence structure as label strings</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>Visualise sequence structure as networks</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>Filter songs by sequence</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Bulk export song selections as audio files</td>
                            <td class='g'>✔</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                            <td class='r'>✖</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="section-4" class="row no-margin"
         style="background-image: url('{% static "images/landing-page-section4-background.jpg" %}');">
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <div class="col-xs-12 section-body">
                <div class="col-sm-5 logo">
                    <img src="{% static "images/mu-full.svg" %}">
                </div>
                <div class="col-sm-7">
                    <div class="credit">
                        <p><strong>Development team:</strong></p>
                        <ul>
                            <li>Fukuzawa Yukio (Computer Scientist)</li>
                            <li>Wesley Webb (Biologist)</li>
                        </ul>
                    </div>
                    <div class="social">
                        <a href="//gitlab.com/yukio/koe">
                            <i class="fa fa-2x fa-gitlab"></i>
                        </a>
                        <a href="//github.com/fzyukio">
                            <i class="fa fa-2x fa-github"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="copyright col-xs-12">
                    Copyright Ⓒ2017-2019 Yukio Fukuzawa. All rights reserved.
                </div>
            </div>
        </div>
    </div>

{% endblock %}
