{% extends "base__landing.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content-container %}
    <div class="overlay-content">
        <div class="container-poly-birds row">
            <svg xmlns="http://www.w3.org/2000/svg" width="600" height="500" viewBox="0 0 600 500"
                 preserveAspectRatio="xMinYMin" class="birds col-xs-12 col-sm-9 col-md-6 col-lg-4">
                <rect onclick="goTo(0)" class="box" x="45" y="15" width="30" height="30"></rect>
                <circle cx="60" cy="30" r="5"></circle>
                <rect onclick="goTo(1)" class="box" x="75" y="15" width="30" height="30"></rect>
                <circle cx="90" cy="30" r="5"></circle>
                <rect onclick="goTo(2)" class="box" x="105" y="15" width="30" height="30"></rect>
                <circle cx="120" cy="30" r="5"></circle>
                <rect onclick="goTo(3)" class="box" x="135" y="15" width="30" height="30"></rect>
                <circle cx="150" cy="30" r="5"></circle>
                <rect onclick="goTo(4)" class="box" x="165" y="15" width="30" height="30"></rect>
                <circle cx="180" cy="30" r="5"></circle>
            </svg>
            <div class="bird-text col-xs-12 col-sm-3 col-md-6 col-lg-8">
                <div class="bird-text__title"></div>
                <div class="bird-text__body"></div>
            </div>
        </div>

        <div class="left-bottom col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="blockquote">
                <p>
                    You have been the veterans of creative suffering.
                    Continue to work with the faith that unearned suffering is redemptive.
                </p>
                <footer>
                    - M.L.King Jr.
                </footer>
                <button onclick="window.location='{% url 'songs' %}'">Click here to reduce your suffering</button>
            </div>
        </div>
    </div>
{% endblock %}
