{% extends "base.html" %}
{% load static %}

{% block extra-css %}
    {% if is_in_debug_mode %}
        <script src="{% static "slick.css" %}"></script>
        <script src="{% static "slick-theme.css" %}"></script>
    {% else %}
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    {% endif %}
{% endblock %}

{% block content-wrapper %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="">
                <a href="/" class="navbar-brand brand-image">
                    <img class="pull-left" alt="Koe's Logo" src="{% static "images/favicon/android-icon-48x48.png" %}"></a>
                <a href="/" class="navbar-brand text">声KOE</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <div class="btn-group" role="group">
                                <button type="button" id="dialog-modal-yes-button"
                                        class="btn btn-primary btn-hover-green btn-md"
                                        role="button" href="{% url 'login' %}">
                                    Login
                                </button>
                                <button type="button" id="dialog-modal-no-button" class="btn btn-primary btn-md"
                                        data-dismiss="modal" role="button" href="{% url 'register' %}">
                                    Register
                                </button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="sections" class="row no-margin">
        <div id="section-1" class="row no-margin section">
            <div class="top-section top-section-background-pattern"
                 style="background-image: url('{% static "images/landing-page-background.png" %}')">
                <div class="top-section-addon-bottom"
                     style="background-image: url('{% static "images/header-bottom.svg" %}')" ;></div>
                <div class="content">
                    <div class="textbox"><h1>Web-based software <br>for analysing animal vocalisations</h1>
                        <p>Visualising, segmenting, measuring, classifying, filtering and exporting acoustic units, and
                            analysing sequence structure (syntax).
                        <p>
                        <div class="btn-group" role="group">
                            <button type="button" id="dialog-modal-no-button" class="btn btn-warning"
                                    data-dismiss="modal" role="button" href="https://github.com/fzyukio/koe/wiki">
                                User Manual
                            </button>
                            <button type="button" id="dialog-modal-no-button" class="btn btn-warning"
                                    data-dismiss="modal" role="button" href="{% url "contact-us" %}">
                                Contact us
                            </button>
                        </div>

                    </div>
                    <div class="intro-video">
                        <video class="u-width-full u-shadow" muted="" autoplay="" loop="false" playsinline=""
                               data-fallback="{% static "images/koe-intro.gif" %}"
                               data-fallback-class="u-width-max-full">
                            <source type="video/mp4" src="{% static "images/koe-intro.mp4" %}">
                        </video>
                        <div class="intro-video-toggle" style="display: none;">
                            <div class="btn-group" role="group">
                                <button type="button" id="dialog-modal-yes-button"
                                        class="btn btn-primary btn-hover-green" role="button">
                                    Watch more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-popup-wrapper" id="home-intro-video" style="display:none;">
                <div class="video-popup">
                    <div class="popup-close">
                        <div class="btn-group" role="group">
                            <button type="button" id="dialog-modal-yes-button"
                                    class="btn btn-primary btn-hover-green btn-lg" role="button">
                                Close
                            </button>
                        </div>
                    </div>
                    <div class="popup-content">
                        <div id="player"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-2" class="row no-margin no-padding section">
            <div class="col-md-10 col-lg-8 col-xl-6 col-md-offset-1 col-lg-offset-2 col-xl-offset-3">
                <div class="carousel section-body">
                    <div class="row no-margin">
                        <div class="col-xs-12 col-sm-7 feature-description">
                            <h2>Classify units: Interactive unit tables</h2>
                            <ul>
                                <li>Unit spectrograms, audio, and metadata all together in one place.</li>
                                <li>Compare, select, classify and annotate units rapidly.</li>
                                <li>Automatically group units by acoustic similarity to facilitate
                                    bulkclassification.
                                </li>
                                <li>Classify at multiple levels of granularity: fine, medium and broad, for
                                    different
                                    scales of analysis.
                                </li>
                                <li>Sort, filter and export data.</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-5 image">
                            <img src="{% static "images/feature-1-long.png" %}">
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-xs-12 col-sm-5 image">
                            <img src="{% static "images/feature-2-long.png" %}">
                        </div>

                        <div class="col-xs-12 col-sm-7 feature-description">
                            <h2>Classify units: Interactive ordination plots</h2>
                            <ul>
                                <li>Visualise data structure based on extracted acoustic features.</li>
                                <li>Encircle groups of points on the ordination to see spectrograms, hear playback,
                                    and
                                    bulk-label groups of units.
                                </li>
                                <li>Toggle visibility of individual classes and zoom plot for added control.</li>
                                <li>View selections as a subset unit table.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-xs-12 col-sm-7 feature-description">
                            <h2>Catalogue unit classes</h2>
                            <ul>
                                <li>Catalogue generated dynamically as you classify units, as a useful reference
                                </li>
                                <li>Displays up to 10 randomly-selected exemplars for each class to represent
                                    within-class variability
                                </li>
                                <li>Class counts, exemplar spectrograms and audio playback</li>
                                <li>Sort, filter and export class list and counts</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-5 image">
                            <img src="{% static "images/feature-3-long.png" %}">
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-xs-12 col-sm-5 image">
                            <img src="{% static "images/feature-4-long.png" %}">
                        </div>

                        <div class="col-xs-12 col-sm-7 feature-description">
                            <h2>View songs as sequences</h2>
                            <ul>
                                <li>Compare songs based on audio and sequence structure</li>
                                <li>Sort, select, annotate and classify songs</li>
                                <li>Filter by sequence structure to find shared sequences</li>
                                <li>Export song audio and metadata</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-xs-12 col-sm-7 feature-description">
                            <h2>Mine sequence structure</h2>
                            <ul>
                                <li>Find the strength of syntactical association between unit classes across a group
                                    of
                                    songs
                                </li>
                                <li>View two-unit associations as an interactive network</li>
                                <li>Filter network based on association strength/prevalence</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-5 image">
                            <img src="{% static "images/feature-5-long.png" %}">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="section-4" class="row no-margin section"
             style="background-image: url('{% static "images/landing-page-section4-background.jpg" %}');">
            <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                <div class="col-xs-12 section-body">
                    <div class="copyright col-xs-12">
                        <p>Copyright Ⓒ2017-2024 Yukio Fukuzawa & Wesley Webb. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pre-main-scripts %}
    {% if is_in_debug_mode %}
        <script src="{% static "slick.min.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>
    {% endif %}
{% endblock %}
