{% extends 'base-with-grid-and-footer.html' %}

{% block title %}Labelling{% endblock %}

{% block content-grid %}

    <div id="controller-wrapper">

        <div id="grid-status">
            <div class="input-group">
                <span class="input-group-addon left"><span id="nselected">0</span>/<span id="ntotal">0</span></span>
            </div>
        </div>

        <div class="slider-group">
            <div class="input-group">
                <span class="input-group-addon left">Speed</span>
                <input id="speed-slider" type="text"
                       data-slider-min="10" data-slider-max="100" data-slider-step="10" data-slider-value="100"/>
            </div>
        </div>

        <div class="grid-controller">
            <div class="input-group">
                <span class="input-group-addon left">Filter</span>
                <input id="segment-info-filter" type="text" class="form-control middle">

                {% include "partials/page-controller-settings-btn.html" %}

            </div>
        </div>
    </div>

    <div class="vh-offset has-grid" id="segment-info"></div>
    <div class="offset-holder" id="segment-info-offset-holder" attr="height"></div>

    <ul id="context-menu" class="dropdown-menu" style="display:none;position:absolute;z-index: 999">
        <li class=""><a action="filter">Filter</a></li>
        <li><a action="set-label">Bulk set property</a></li>
    </ul>

    <div id="spectrogram-details-tooltip" class="hidden">
        <img src=""/>
    </div>

{% endblock %}

{% block modal-button %}
    <div class="btn-group" role="group">
        <button type="button" id="dialog-modal-yes-button" data-action="save" role="button"
                class="btn btn-primary btn-hover-green">Set
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" data-dismiss="modal" role="button">Cancel
        </button>
    </div>
{% endblock %}

{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button id="save-data-btn" type="button" class="btn btn-primary">Save</button>
        </div>
        {% include "partials/download-csv-btns.html" %}
    </div>
{% endblock %}
