{% extends 'base-with-grid.html' %}

{% block content-grid %}

    {#    <div id="control-buttons" class="input-group">#}
    {#        <input id="segment-info-filter" type="text" class="form-control" aria-label="Text input with radio button">#}
    {#        <input disabled type="text" class="form-control" aria-label="Text input with radio button"#}
    {#               value="Select the distance matrix here">#}
    {#        <div class="input-group-btn">#}
    {#            <button id="distance-matrix-combo" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"#}
    {#                    aria-haspopup="true"#}
    {#                    aria-expanded="false" dm="{{ dms.0.0 }}">#}
    {#                {{ dms.0.1 }}#}
    {#                <span class="caret"></span>#}
    {#            </button>#}
    {#            <ul class="dropdown-menu dropdown-menu">#}
    {#                {% for dm in dms %}#}
    {#                    <li><a href="#" class="select-dm" dm="{{ dm.0 }}">#}
    {#                        {{ dm.1 }}#}
    {#                    </a></li>#}
    {#                {% endfor %}#}
    {#            </ul>#}
    {#        </div>#}
    {#    </div>#}

    <div class="panel-heading">
        {#        <span class="panel-title">Segmentation#}
        {#            <input id="segment-info-filter" type="text" class="form-control" aria-label="Text input with radio button">#}
        {#        </span>#}
        {##}
        {#        <div class="dropdown pull-right">#}
        {#            <button class="btn btn-info btn-xs dropdown-toggle" type="button" id="distance-matrix-combo"#}
        {#                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dm="{{ dms.0.0 }}">#}
        {#                {{ dms.0.1 }}&nbsp;<span class="caret"></span>#}
        {#            </button>#}
        {#            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="segmentation-btn">#}
        {#                {% for dm in dms %}#}
        {#                    <li><a href="#" class="select-dm" dm="{{ dm.0 }}">#}
        {#                        {{ dm.1 }}#}
        {#                    </a></li>#}
        {#                {% endfor %}#}
        {##}
        {#            </ul>#}
        {#        </div>#}


    </div>

    <div class="input-group" id="segment-info-controller">
        <span class="input-group-addon left">Filter</span>
        <input id="segment-info-filter" type="text" class="form-control middle"
               aria-label="Text input with radio button">
        <span class="input-group-addon right">
            <div class="dropdown pull-right">
                <button class="btn btn-info btn-xs dropdown-toggle" type="button" id="distance-matrix-combo"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dm="{{ dms.0.0 }}">
                    {{ dms.0.1 }}&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="segmentation-btn">
                    {% for dm in dms %}
                        <li><a href="#" class="select-dm" dm="{{ dm.0 }}">
                            {{ dm.1 }}
                        </a></li>
                    {% endfor %}

                </ul>
            </div>
        </span>
    </div>

    <div class="vh-offset has-grid" id="segment-info"></div>
    <div class="offset-holder" id="segment-info-offset-holder" attr="height"></div>

    <ul id="contextMenu" style="display:none;position:absolute">
        <li action="filter">Filter</li>
    </ul>

{% endblock %}