{% extends 'base-with-sidebar-and-grid.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}Split a song into units{% endblock %}

{% block content-grid %}

    <div class="row no-margin" id="visualisation-wrapper">
        <div class="col-xs-12 no-padding" id="visualisation">
            <div class="row no-margin">
                <svg id="oscillogram"></svg>
            </div>
            <div class="row no-margin">
                <svg id="spectrogram"></svg>
            </div>
        </div>
        {% include 'partials/spectrogram-controller.html' %}
    </div>

    <div class="row no-margin">
        <div class="col-xs-6 col-sm-4 col-md-3 no-padding-left">
            <table class="table table-hover table-condensed table-striped" id="song-info">
                <thead>
                <tr>
                    <th class="col-md-4">Attribute</th>
                    <th class="col-md-8">Value</th>
                </tr>
                </thead>
                <tbody json-data="{{ song_info }}"></tbody>
            </table>
        </div>

        <div class="col-xs-6 col-sm-8 col-md-9 no-padding">
            <div class="has-grid" id="segments-grid" file-id="{{ file_id }}" length="{{ length }}" fs="{{ fs }}" database="{{ database }}"
            ></div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {% debug_mode as is_in_debug_mode %}
    {% if is_in_debug_mode %}
        <script src="{% static "d3.js" %}"></script>
    {% else %}
        <script src="//d3js.org/d3.v5.min.js"></script>
    {% endif %}
{% endblock %}
