{% extends 'base-with-grid-and-footer.html' %}

{% block title %}Segmentation{% endblock %}

{% block content-grid %}

    <div id="controller-wrapper">

        <div id="grid-status">
            <div class="input-group">
                <button id="play-song" type="button" class="btn btn-primary btn-xs">Play</button>
            </div>
        </div>

        <div class="slider-group">
            <div class="input-group">
                <span class="input-group-addon left">Speed</span>
                <input id="speed-slider" type="text"
                       data-slider-min="10" data-slider-max="100" data-slider-step="10" data-slider-value="100"/>
            </div>
        </div>

        <div class="slider-group">
            <div class="input-group">
                <span class="input-group-addon left">Contrast</span>
                <input id="contrast-slider" type="text"
                       data-slider-min="0" data-slider-max="63" data-slider-step="1" data-slider-value="0"/>
            </div>
        </div>
    </div>

    <div id="visualisation">
        <svg id="oscillogram"></svg>
        <svg id="spectrogram"></svg>
    </div>

    <div class="row no-margin">
        <div class="col-xs-6 no-padding">
            <div class="vh-offset has-grid" id="segments-grid" file-id="{{ file_id }}" length="{{ length }}"
                 fs="{{ fs }}"></div>
            <div class="offset-holder" id="segments-grid-offset-holder" attr="height"></div>
        </div>
        <div class="col-xs-6 no-padding">
            <div id="spect-zoom"></div>
        </div>
    </div>

{% endblock %}

{% block modal-button %}
    <div class="btn-group" role="group">
        <button type="button" id="dialog-modal-yes-button" data-action="save" role="button"
                class="btn btn-primary btn-hover-green">Set
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" data-dismiss="modal" role="button">Cancel
        </button>
    </div>
{% endblock %}

{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary download-xls" data-download-type="all">Save entire table as
                CSV
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary download-xls" data-download-type="visible-rows-only">Save
                visible rows as CSV
            </button>
        </div>

        <div class="btn-group" role="group">
            <button disabled id="delete-segments-btn" type="button" class="btn btn-primary">Delete selected</button>
        </div>

        {% if db_assignment.can_annotate %}
            <div class="btn-group" role="group">
                <button id="save-segmentations-btn" disabled type="button" class="btn btn-primary">
                    Save segmentation
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
