{% extends 'base-with-grid-and-footer.html' %}

{% block title %}Segmentation{% endblock %}

{% block content-grid %}

    <div class="row no-margin">
        <div class="col-xs-4 col-sm-3 col-md-2 no-padding-left">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group btn-group-sm" role="group">
                    <button id="play-song" type="button" class="btn btn-primary">Play</button>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button id="stop-song" type="button" class="btn btn-primary">Stop</button>
                </div>
            </div>

            <div class="controller-item slider-group">
                <div class="col-md-5 col-lg-4 no-padding-left">Speed</div>
                <div class="col-md-7 col-lg-8 no-padding-left">
                    <input id="speed-slider" type="text"
                           data-slider-min="10" data-slider-max="100" data-slider-step="10"
                           data-slider-value="100"/>
                </div>

            </div>

            <div class="controller-item slider-group">
                <div class="col-md-5 col-lg-4 no-padding-left">Contrast</div>
                <div class="col-md-7 col-lg-8 no-padding-left">
                    <input id="contrast-slider" type="text"
                           data-slider-min="0" data-slider-max="100" data-slider-step="1"
                           data-slider-value="0"/>
                </div>

            </div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-10 no-padding">
            <div id="visualisation">
                <div class="row no-margin">
                    <svg id="oscillogram"></svg>
                </div>
                <div class="row no-margin">
                    <svg id="spectrogram"></svg>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-xs-4 col-sm-3 col-md-2 no-padding">
            <div class="vh-offset has-grid" id="segments-grid" file-id="{{ file_id }}" length="{{ length }}"
                 fs="{{ fs }}"></div>
            <div class="offset-holder" id="segments-grid-offset-holder" attr="height"></div>
        </div>

        <div class="col-xs-8 col-sm-9 col-md-10 no-padding">
            <div class="vh-offset" id="zoomed">
                <div class="row no-margin">
                    <svg class="vh-offset" id="oscillogram-zoomed"></svg>
                    <div class="offset-holder" id="oscillogram-zoomed-offset-holder" attr="height" divide="3"></div>
                </div>
                <div class="row no-margin">
                    <svg class="vh-offset" id="spectrogram-zoomed"></svg>
                    <div class="offset-holder" id="spectrogram-zoomed-offset-holder" attr="height" divide="1.5"></div>
                </div>
            </div>
            <div class="offset-holder" id="zoomed-offset-holder" attr="height"></div>
        </div>
    </div>

{% endblock %}

{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        {% if db_assignment.can_modify_segments %}
            <div class="btn-group" role="group">
                <button disabled id="delete-segments-btn" type="button" class="btn btn-black">
                    Delete selected
                </button>
            </div>
            <div class="btn-group" role="group">
                <button id="save-segmentations-btn" disabled type="button" class="btn btn-black">
                    Save segmentation
                </button>
            </div>
        {% endif %}

        {% include "partials/download-csv-btns.html" %}
    </div>
{% endblock %}
