{% extends 'base-with-sidebar-and-grid.html' %}

{% block title %}Sequence mining{% endblock %}

{% block content-grid %}
    <div class="row no-margin">
        <div class="col-md-5 col-lg-4 no-padding">
            <div id="controller-wrapper">
                <div id="menu-opener">
                    <div class="input-group">
                        <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="grid-status">
                    <div class="input-group">
                        <span class="input-group-addon left"><span id="ntotal">0</span></span>
                    </div>
                </div>

                <div class="grid-controller">
                    <div class="input-group">
                        <span class="input-group-addon left">Filter</span>
                        <input id="segment-info-filter" type="text" class="form-control middle">

                    </div>
                </div>
            </div>
            <div class="has-grid" id="sequence-mining-grid" granularity="{{ granularity }}"
                 viewas="{{ viewas.username }}"></div>
        </div>

        <div class="col-md-7 col-lg-8 no-padding" id="graph">
            <svg></svg>
        </div>
    </div>

{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Yes' no='No' %}
{% endblock %}

{% block scripts %}
    <script src="//d3js.org/d3.v5.min.js"></script>
{% endblock %}
