{% extends 'base-with-sidebar-and-grid.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}View song list{% endblock %}
{% debug_mode as is_in_debug_mode %}

{% block extra-css %}
    {% if is_in_debug_mode %}
        <script src="{% static "dropzone.css" %}"></script>
    {% else %}
        <link href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet">
    {% endif %}

{% endblock %}

{% block content-grid %}

    <div class="controller-wrapper">
        <div id="menu-opener">
            <div class="input-group">
                <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
            </div>
        </div>

        <div id="grid-status">
            <div class="input-group">
                <span class="input-group-addon left"><span id="nselected">0</span>/<span id="ntotal">0</span></span>
            </div>
        </div>

        <div class="grid-controller">
            <div class="input-group">
                <span class="input-group-addon left">Filter</span>
                <input id="songs-grid-filter" type="text" class="form-control middle">
            </div>
        </div>
    </div>

    <div class="has-grid" id="songs-grid" granularity="{{ granularity }}" viewas="{{ viewas.username }}"></div>

    <div id="spectrogram-details-tooltip" class="hidden">
        <img src=""/>
    </div>

{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Yes' no='No' %}
    {% include 'partials/upload-songs-modal.html' %}
{% endblock %}

{% block scripts %}
    {% if is_in_debug_mode %}
        <script src="{% static "dropzone.js" %}"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    {% endif %}
    <script>
        Dropzone.autoDiscover = false;
    </script>
{% endblock %}
