{% extends 'base-with-sidebar-and-grid.html' %}

{% block title %}View song list{% endblock %}

{% block content-grid %}

    <div class="controller-wrapper">
        <div id="menu-opener">
            <div class="input-group">
                <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
            </div>
        </div>

        <div id="grid-status">
            <div class="input-group">
                <span class="input-group-addon left"><span id="nselected">0</span>/<span id="ntotal">0</span></span>
            </div>
        </div>

        <div class="grid-controller">
            <div class="input-group">
                <span class="input-group-addon left">Filter</span>
                <input id="songs-grid-filter" type="text" class="form-control middle">
            </div>
        </div>
    </div>

    <div class="has-grid" id="songs-grid" granularity="{{ granularity }}" viewas="{{ viewas.username }}"></div>

    <div id="spectrogram-details-tooltip" class="hidden">
        <img src=""/>
    </div>

{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Yes' no='No' %}
{% endblock %}
