{% extends 'base-with-sidebar-and-grid.html' %}

{% block title %}Classify syllables{% endblock %}


{% block content-grid %}
    <div class="controller-wrapper">
        <div id="menu-opener">
            <div class="input-group">
                <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
            </div>
        </div>

        <div id="grid-status">
            <div class="input-group">
                <span class="input-group-addon left"><span id="nselected">0</span>/<span id="ntotal">0</span></span>
            </div>
        </div>

        <div class="grid-controller">
            <div class="input-group">
                <span class="input-group-addon left">Filter</span>
                <input id="segment-info-filter" type="text" class="form-control middle">
            </div>
        </div>
    </div>

    <div class="has-grid" id="segment-info" viewas="{{ viewas.username }}"></div>

    <ul id="context-menu" class="dropdown-menu" style="display:none;position:absolute;z-index: 999">
        <li class=""><a action="filter">Filter</a></li>
        <li><a action="set-label">Bulk set property</a></li>
    </ul>

    <div id="spectrogram-details-tooltip" class="hidden">
        <img src=""/>
    </div>

{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Set' no='Cancel' %}
{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/keyboardjs/2.4.1/keyboard.min.js"></script>
{% endblock %}
