{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "images/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "images/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "images/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/favicon/manifest.json" %}">

    <script src='{% static "tsne-viz/js/0.min.js" %}' type="application/javascript">
    </script>
    <!--
  @license
  Copyright 2016 The TensorFlow Authors. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  @license
  Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
  Code distributed by Google as part of the polymer project is also
  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

  @license
  Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
  Code distributed by Google as part of the polymer project is also
  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

  @license
  Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
  Code distributed by Google as part of the polymer project is also
  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

  @license
  three.js
  Copyright (c) 2010-2013 three.js authors

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.

  @license
  d3
  Copyright 2010-2017 Mike Bostock
  All rights reserved.

  Redistribution and use in source and binary forms, with or without modification,
  are permitted provided that the following conditions are met:

  * Redistributions of source code must retain the above copyright notice, this
    list of conditions and the following disclaimer.

  * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the following disclaimer in the documentation
    and/or other materials provided with the distribution.

  * Neither the name of the author nor the names of contributors may be used to
    endorse or promote products derived from this software without specific prior
    written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
  ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

  @license
  Numeric Javascript
  Copyright (C) 2011 by Sébastien Loisel
  Copyright (c) 2011 Alberto Santini <albertosantini@gmail.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.

  @license
  weblas
  Copyright (c) 2015 Waylon Flinn

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
  -->
    <script src='{% static "tsne-viz/js/1.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/2.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/3.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/4.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/5.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/javascript/closure/base.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/polymer/polymer-mini.html.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/polymer/polymer.html.min.js" %}' type="application/javascript">
    </script>
    <script src='{% static "tsne-viz/js/iron-meta/iron-meta.html.min.js" %}' type="application/javascript">
    </script>
    <link href='{% static "tsne-viz/css/0.css" %}' rel="stylesheet" type="text/css"/>
    <link href='{% static "tsne-viz/css/1.css" %}' rel="import"/>
</head>
<body>
<link href='{% static "tsne-viz/dom-module/iron-icon.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-behaviors/iron-control-state.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-behaviors/iron-button-state.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-ripple.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-ripple/paper-ripple.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/paper-behaviors/paper-ripple-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/paper-behaviors/paper-inky-focus-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/css/2.css" %}' rel="import"/>
<link href='{% static "tsne-viz/css/3.css" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-icon-button.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/neon-animation/neon-animation-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/neon-animation/animations/opaque-animation.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/neon-animation/neon-animatable-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/neon-animation/neon-animation-runner-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/neon-animation/animations/fade-in-animation.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/neon-animation/animations/fade-out-animation.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-tooltip.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-resizable-behavior/iron-resizable-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/iron-collapse.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-collapse/iron-collapse.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-validatable-behavior/iron-validatable-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-form-element-behavior/iron-form-element-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-checked-element-behavior/iron-checked-element-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/paper-behaviors/paper-checked-element-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-toggle-button.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-selector/iron-selection.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-selector/iron-selectable.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-selector/iron-multi-selectable.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-menu-behavior/iron-menu-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-listbox.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-item/paper-item-behavior.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-item-shared-styles.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-item.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-checkbox.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-iconset-svg/iron-iconset-svg.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/iron/icons.html" %}' rel="import"/>
<link href='{% static "tsne-viz/iron/image.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/iron-a11y-announcer.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-input/iron-input.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/paper-input/paper-input-behavior.html.min.js" %}' type="application/javascript">
</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet"/>
<link href='{% static "tsne-viz/css/4.css" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-input/paper-input-addon-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-input-char-counter.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-input/paper-input-char-counter.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-input-container.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-input/paper-input-container.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-input-error.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-input/paper-input-error.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-input.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-input/paper-input.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/css/5.css" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-material-shared-styles.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-material.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-material/paper-material.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/paper-behaviors/paper-button-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-button.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-button/paper-button.html.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-fit-behavior/iron-fit-behavior.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/iron-overlay-backdrop.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-overlay-behavior/iron-overlay-backdrop.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-overlay-behavior/iron-overlay-manager.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-overlay-behavior/iron-focusables-helper.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/iron-overlay-behavior/iron-overlay-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/paper-dialog-behavior/paper-dialog-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-dialog-shared-styles.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-dialog.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-dialog/paper-dialog.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-toast.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-spinner/paper-spinner-behavior.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-spinner-styles.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-spinner-lite.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-dialog-scrollable.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-dialog-scrollable/paper-dialog-scrollable.html.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/tf-imports/three.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/tf-imports/OrbitControls.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/iron-autogrow-textarea.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-autogrow-textarea/iron-autogrow-textarea.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-textarea.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-input/paper-textarea.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/vz-projector-styles.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/vz-projector/heap.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/label.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/sptree.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/bh_tsne.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/logging.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/renderContext.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlotRectangleSelector.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/analyticsLogger.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/util.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/vector.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/knn.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/data.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/data-provider.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/data-provider-demo.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/data-provider-proto.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/data-provider-server.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/projectorEventContext.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlot.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlotVisualizer3DLabels.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlotVisualizerCanvasLabels.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlotVisualizerPolylines.min.js" %}'
        type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlotVisualizerSprites.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/scatterPlotVisualizer.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/projectorScatterPlotAdapter.min.js" %}' type="application/javascript">
</script>
<script src='{% static "tsne-viz/js/vz-projector/vz-projector-util.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/vz-projector-bookmark-panel.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-dropdown/iron-dropdown-scroll-manager.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/iron-dropdown.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-menu-button/paper-menu-button-animations.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-menu-button.html" %}' rel="import"/>
<link href='{% static "tsne-viz/iron/paper-dropdown-menu.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-dropdown-menu-shared-styles.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/paper-dropdown-menu.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-legend.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-data-panel.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/iron-range-behavior/iron-range-behavior.html.min.js" %}'
        type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-progress.html" %}' rel="import"/>
<script src='{% static "tsne-viz/js/paper-progress/paper-progress.html.min.js" %}' type="application/javascript">
</script>
<link href='{% static "tsne-viz/dom-module/paper-slider.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-input.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-inspector-panel.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-metadata-card.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-projections-panel.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector.html" %}' rel="import"/>
<link href='{% static "tsne-viz/dom-module/vz-projector-app.html" %}' rel="import"/>
<title>
    Cluster visualisation and analysis
</title>
<link href='{% static "tsne-viz/css/7.css" %}' rel="stylesheet" type="text/css"/>
<vz-projector-app bug-report-link="https://github.com/tensorflow/tensorflow/issues"
                  documentation-link="https://www.tensorflow.org/get_started/embedding_viz" page-view-logging=""
                  projector-config-json-path="{{ config_file }}" serving-mode="demo">
</vz-projector-app>
</body>
</html>
