{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Cluster visualisation{% endblock %}

{% block content-center %}
    <div class="row no-margin">
        <div class="col-md-2 col-lg-1 no-padding">
            <div id="plotly-controller">
                <label for="label-type" class="col-form-label">Label by</label>

                <select class="" id="label-type" tabindex="-1">
                </select>
            </div>
        </div>
        <div class="col-md-10 col-lg-11 no-padding">
            <div id="plotly-plot" metadata="{{ metadata_path }}" bytes="{{ bytes_path }}"
                 database="{{ tensor.database.name }}"
                 annotator="{{ tensor.annotator.username }}"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="//cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="//d3js.org/d3.v5.min.js"></script>
{% endblock %}
