{% extends 'base-with-footer.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Visualisation by Plotly{% endblock %}

{% block content-center %}
    <div id="plotly-controller">
        <div class="row">
            <label for="label-type" class="col-sm-2 col-form-label">Label by</label>
            <div class="col-sm-10">
                <select class="" id="label-type" tabindex="-1">
                </select>
            </div>
        </div>
    </div>
    <div id="plotly-plot" metadata="{{ metadata_path }}" bytes="{{ bytes_path }}"></div>
{% endblock %}
