{% extends "base-with-grid-and-footer.html" %}

{% block title %}Versioning{% endblock %}

{% block content-grid %}

    <div class="vh-offset has-grid" id="version-grid"></div>
    <div class="offset-holder" id="version-grid-offset-holder" attr="height"></div>

{% endblock %}

{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <form id="file-upload-form" method="post" enctype="multipart/form-data" style="display: none">
                <input type="file" name="zipfile" accept="application/zip,application/x-zip,application/x-zip-compressed">
                <input type="submit">
            </form>
            <button id="import-zip-btn" type="button" class="btn btn-primary">Import ZIP</button>
        </div>
        <div class="btn-group" role="group">
            <button id="apply-version-btn" disabled type="button" class="btn btn-primary">Import selected
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="delete-version-btn" disabled type="button" class="btn btn-primary">Delete selected
            </button>
        </div>
    </div>
{% endblock %}

