{% extends 'base-with-sidebar.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}Cluster visualisation{% endblock %}

{% block content-center %}
    <div class="col-sm-6 col-md-3 col-lg-2 no-padding contain-panel">
        <div class="panel panel-default">
            <div class="panel-heading no-padding">
                <h3 class="panel-title">
                    <div class="controller-wrapper">
                        <div id="menu-opener">
                            <div class="input-group">
                                <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="grid-controller no-status">
                            <div class="input-group">Highlights</div>
                        </div>
                    </div>
                </h3>
            </div>
            <div class="panel-body no-padding" id="syl-spects">

            </div>
            <div class="panel-footer no-padding">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    {% if viewas.username == user.username %}
                        <div class="btn-group dropup" role="group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle enable-on-lasso" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" disabled>
                                Label
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% get_granularity as levels %}
                                {% for level in levels %}
                                    <li><a class="change-label enable-on-lasso" disabled label-type="{{ level }}">{{ level }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}


                    <div class="btn-group" role="group">
                        <button id="clear-highlighted-btn" type="button" class="btn btn-sm btn-primary disable-on-lasso">
                            Clear
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="show-highlighted-btn" disabled type="button" class="btn btn-sm btn-primary enable-on-lasso"
                                syllables-view-url="{% url 'syllables' %}">
                            View table
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-9 col-lg-10 no-padding contain-panel">
        <div class="panel panel-default">
            <div class="panel-heading no-padding">
                <h3 class="panel-title">
                    <div class="controller-wrapper">
                        <div class="grid-controller no-status">
                            <div class="input-group">
                                Ordination of {{ db_type }}

                                {% if current_ordination.dm.database %}
                                    {{ current_ordination.dm.database.name }}
                                {% else %}
                                    {{ current_ordination.dm.tmpdb.name }}
                                {% endif %}

                                using {{ current_ordination.method }} annotated by {{ viewas.username }},
                            </div>
                        </div>
                    </div>
                </h3>
            </div>

            <div class="panel-body no-padding" id="plotly-plot" metadata="{{ metadata_path }}" bytes="{{ bytes_path }}"
                 {% if current_database is not None %}
                     {% if current_database.is_real %}database{% else %}tmpdb{% endif %}="{{ current_database.id }}"
                 {% endif %}>
            </div>
        </div>


    </div>
{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Set' no='Dismiss' %}
{% endblock %}


{% block scripts %}
    {% debug_mode as is_in_debug_mode %}
    {% if is_in_debug_mode %}
        <script src="{% static "d3.js" %}"></script>
        <script src="{% static "plotly.js" %}"></script>
    {% else %}
        <script src="//d3js.org/d3.v5.min.js"></script>
        <script src="//cdn.plot.ly/plotly-latest.min.js"></script>
    {% endif %}
{% endblock %}
