{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block navbar-right %}
  <p class="navbar-text navbar-right">Log in</p>
{% endblock %}

{% block content-center %}
  <div id="login-form">
    <form role="form" url="{% url "login" %}" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="{{ form.acc_or_email.id_for_label }}" class="control-label">Username</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          {{ form.acc_or_email|add_error_class:"has-error"|add_class:"form-control" }}
        </div>
        {{ form.acc_or_email.errors }}
      </div>

      <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="control-label">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          {{ form.password | add_error_class:"has-error"|add_class:"form-control" }}
        </div>
        {{ form.password.errors }}
      </div>

      <div class="form-group">
        <div class="col-xs">
          <input type="checkbox" tabindex="3" name="remember" id="remember">
          <label for="remember"> Remember Me</label>
        </div>
      </div>

      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <input type="submit" tabindex="4" class="btn btn-outline-primary" value="Log In">
        </div>
      </div>
      <br/>
      <div class="form-group ">
        <p>Click <a href="{% url 'forget-password' %}">here</a> if you forget your password</p>
        <p>Click <a href="{% url 'reset-password' %}">here</a> to change your password</p>
        <p>Or do you want to <a href="{% url 'register' %}">sign up</a>?</p>
      </div>

    </form>
  </div>
{% endblock %}

{% block bottom %}{% endblock %}
