@import "../variables";

/* !important is needed sometimes */
::-webkit-scrollbar {
  width: $scrollbar-width !important;
  height: $scrollbar-height !important;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: $scrollbar-border-radius !important;
  border-radius: $scrollbar-border-radius !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: $scrollbar-border-radius !important;
  border-radius: $scrollbar-border-radius !important;
  background: #cd210e !important;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5) !important;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #cd210e !important;
}
