@import "../variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  font-weight: 500;
}

a {
  color: #ff5555;
}

.btn-primary {
  color: white;
}

#max-vh {
  max-height: $max-screen-height;
}

#navbar {
  height: $navbar-height;
  margin: 0;
  width: 100%;
  color: black;
  background: linear-gradient(#e72510, #D9230F 6%, #cb210e) no-repeat;

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    padding: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.collapse.in, &.collapsing {
      float: right;
      max-width: 300px;
    }
  }

  .navbar-brand {
    font-variant: small-caps;
    a, span {
      color: white;
      font-variant: normal;
      font-size: 0.8em;
    }

    &.brand-image {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;

      img {
        background-color: white;
        border-radius: 50%;
        border: 2px #a91b0c solid;
      }
    }
  }

  .navbar-link.active {
    font-weight: bolder;
  }

  #user-card {
    margin-right: 0;

    .user-avatar {
      img {
        width: 50px;
      }
    }

    .dropdown-menu {
      background-color: white;
    }
  }
}

#content-wrapper {
  margin: auto;
  width: 100%;
  max-height: $max-screen-height;

  background: white;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 3);
}

#content-wrapper-offset-holder {
  height: 100000px;
}

.main-content {
  padding: $main-content-padding-top $main-content-padding $main-content-padding-bottom;
  display: flex;
  margin: auto;
  width: 100%;
  height: calc(100% - #{$navbar-height});

  .content-center {
    color: black;
    margin: auto;
    width: 100%;
  }
  &.has-footer {
    height: calc(100% - #{$navbar-height} - #{$bottom-height});
  }
}

#bottom {
  height: $bottom-height;
  min-height: unset;
  width: 100%;
  color: black;
  margin: 0;

  .btn {
    border-radius: 0;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.alert {
  z-index: 999;
  position: fixed;
  width: 100%;
  bottom: calc(#{$bottom-height} + 20px);
  display: none;
  margin-bottom: 10px;
}

hr {
  width: 10%;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.form-control {
  height: auto !important;
  padding: 8px 12px !important;
  color: black;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}

.form-control, .dropdown-menu {
  font-size: inherit;
  line-height: inherit;
}

.navbar-right-most {
  padding-right: 5px;
}

.navbar-brand {
  color: white;
  font-size: 17px;
  line-height: 18px;
  height: $navbar-height;

  background: linear-gradient(#e72510, #D9230F 6%, #cb210e) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE72510', endColorstr='#FFCB210E', GradientType=0);
}

.navbar-text {
  padding: 5px 15px;
  margin: 0;
  float: right;
  line-height: 20px;
  height: 30px;
  border-bottom: 2px solid #a91b0c;
  background-color: white;
}

.navbar-login {
  width: 305px;
  padding: 10px 10px 0px;
}

.navbar-login-session {
  padding: 0px 10px;
}

.has-grid {
  overflow-y: auto;
  overflow-x: auto;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loading-spinner-modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #loading-spinner-modal {
  display: block;
}

.modal-footer {
  padding: 0;

  .btn-group > .btn:first-child {
    border-top-left-radius: 0;
  }

  .btn-group > .btn:last-child {
    border-top-right-radius: 0;
  }
}

.selectize-control {
  width: 100% !important;
}

.selectize-control .selectize-input > div {
  cursor: pointer;
  margin: auto;
  padding: 0 6px;
  color: #ffffff;
}

.selectize-control .selectize-input [data-value] {
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #D9230F linear-gradient(#e72510, #D9230F 6%, #cb210e) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}


.grid-controller {
  width: calc(100% - #{$grid-status-width} - #{$slider-group-width});
  padding-left: 20px;
}
