@import "../vendor/slick-grid";
@import "../vendor/slick-default-theme";
@import "../variables";

#history-grid {
  max-height: calc(#{$max-screen-height} - 2 * #{$main-content-padding});
}

#history-grid-offset-holder {
  display: none;
  height: calc(100000px - 2 * #{$main-content-padding});
}