*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar-default {
  background: transparent;
  border: none;
}

#navbar {
  height: $navbar-height;
  margin: 0;
  width: 100%;
  color: white;

  li.link a {
    line-height: 36px;

    &:hover {
      text-decoration: underline;
      color: #e72510;
    }
  }

  a {
    color: white;
  }

  .dropdown-menu > li > a {
    &:hover, &:focus, &.active {
      color: #ffffff;
    }
  }

  .dropdown-menu > .active > a {
    color: #ffffff;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    padding: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.collapse.in, &.collapsing {
      float: right;
      max-width: 300px;
    }
  }

  .navbar-brand {
    font-variant: small-caps;
    color: white;
    font-size: 24px;
    line-height: 36px;
    height: $navbar-height;
    padding-left: 0px;

    a, span {
      color: white;
      font-variant: normal;
      font-size: 0.8em;
    }

    &.brand-image {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;

      img {
        background-color: transparent;
        margin-top: 4px;
      }
    }

    &.text {
      margin-left: 0;
      line-height: 36px;
    }
  }

  .navbar-link.active {
    font-weight: bolder;
  }

  #user-card {
    margin-right: 0;

    .user-avatar {
      img {
        width: 50px;
      }
    }

    .dropdown-menu {
      background-color: white;
    }
  }
}

#section-1 {
  overflow: hidden;
  width: 100vw;

  .top-section {
    z-index: 2;
    color: #fff;
    position: relative;
    text-align: center;
    width: 100%;
    //background: #21730ad4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //background-size: 6px;

    @media all and (min-width: 767px) {
      padding: 100px 0 80px;
    }

    @media all and (max-width: 768px) {
      padding: 50px 0 0px;
    }

    .textbox {
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      h1 {
        font-weight: bold;
      }

      h1, h2, h3, h4, h5 {
        font-family: 'Oxygen', sans-serif;
        color: inherit;
      }

      @media all and (min-width: 767px) {
        h1 {
          font-size: 36px;
        }

        p {
          font-size: 18px;
          line-height: 27px;
        }
      }

      @media all and (max-width: 768px) {
        h1 {
          font-size: 21px;
        }

        p {
          font-size: 14px;
          line-height: 21px;
        }
      }

      //h1 {
      //  font-weight: 900;
      //  margin-bottom: 5px;
      //}
      //
      //p {
      //  max-width: 610px;
      //  margin: 10px auto 0;
      //  font-size: 1.1em;
      //}
    }

    .top-section-addon-bottom {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: no-repeat bottom;
      z-index: 2;
      bottom: 0;
      background-size: auto;
    }

    .intro-video {
      max-width: 630px;
      margin: 0 auto 0;
      position: relative;

      @media all and (min-width: 767px) {
        bottom: -95px;
      }

      @media all and (max-width: 768px) {
        bottom: -15px;
      }

      video {
        position: relative;
        border-radius: 10px;
        z-index: 1;
        width: 100%;
      }

      .intro-video-toggle {
        position: absolute;
        z-index: 1;
        bottom: 50px;
        left: 0;
        right: 0;

        a {
          color: #272f41;
          background-color: #fff;
          padding: 13px;
          border-radius: 5px;
          line-height: 0;
          font-size: 1.2em;
          box-shadow: 0 0 50px 0 rgba(25, 70, 97, .15);

          i {
            top: 3px;
            left: 1px;
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    max-width: 1300px;
    padding: 20px;
    margin: 0 auto;

    h1 {
      font-weight: bold;
    }

    h1, h2, h3, h4, h5 {
      font-family: 'Oxygen', sans-serif;
      color: inherit;
    }

    @media all and (min-width: 767px) {
      h1 {
        font-size: 36px;
      }

      h3 {
        font-size: 20px;
        line-height: 30px;
      }
    }

    @media all and (max-width: 768px) {
      h1 {
        font-size: 21px;
      }

      h3 {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  .video-popup-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(39, 47, 65, .85);

    .video-popup {
      position: relative;

      .popup-close {
        position: relative;
        text-align: center;
        padding: 20px;

        a {
          background-color: #fff;
          border-radius: 5px;
          padding: 11px;
          line-height: 0;
          box-shadow: 0 0 50px 0 rgba(25, 70, 97, .15);
        }
      }

      .popup-content {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 50px 0 rgba(25, 70, 97, .15);
      }
    }
  }

  .center .slick-center h3 {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
  }
  .center h3 {
    opacity: 0.8;
    transition: all 300ms ease;
  }
}

.slick-dots {
  top: -40px;
  left: 0;
}

#sections {
  width: 100vw;

  .section {
    margin-bottom: 0;
  }
}

#section-1, #section-3 {
  margin-bottom: 50px !important;
}

#section-2-alternative > .row {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

$navbar-height: 0px;

#section-1-alternative {
  margin-top: $navbar-height;
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  background: center;
  background-size: cover;

  .section-title {
    height: calc((100vh - #{$navbar-height}) / 2);
    float: none;
    clear: both;
    padding-bottom: 0;
    h1, h2, h3, h4, h5 {
      color: white;
    }
  }

  .section-body {
    height: calc((100vh - #{$navbar-height}) / 2);
    margin: auto;
    img {
      width: 100%;
      max-height: calc((100vh - #{$navbar-height}) / 2);
    }
  }
}

#section-2 {
  margin-bottom: 0;
}

#section-2-alternative {
  width: 100%;

  .section-title {
    margin-bottom: 30px;
  }

  .section-body {
    .panel {
      img {
        width: 100%;
      }

      .panel-body ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}

#section-3 {
  width: 100%;

  table td {
    &.g {
      color: #72af15;
    }
    &.r {
      color: orangered;
    }
  }
}

#section-4 {
  position: relative;
  background: center;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  .section-body {
    .logo {
      padding-bottom: 10px;
    }

    .credit {
      padding-bottom: 10px;
    }

    .social {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: space-between;

      a {
        text-align: center;
        i.fa {
          color: white;
        }
      }
    }

    .copyright {
      margin-top: 30px;
      text-align: center;
    }
  }
}

.section-title {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 30px;

  h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: inherit;
  }

  h3 {
    font-family: 'Oxygen', sans-serif;
    color: inherit;
  }

  @media all and (min-width: 767px) {
    h1 {
      font-size: 36px;
    }

    h3 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media all and (max-width: 768px) {
    h1 {
      font-size: 21px;
    }

    h3 {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.section-body {
  .row {
    margin-bottom: 100px;
    align-items: center;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .image {
    img {
      width: 100%;
    }
  }

  h2 {
    margin-top: 0;
    font-family: 'Oxygen', sans-serif;
    color: inherit;
    font-size: 1.8em;
    font-weight: 700;
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(-101deg, rgba(247, 198, 2, .05), #ff00003b 95%, rgba(247, 198, 2, 0));
  }

  ul li {
    font-family: 'Oxygen', sans-serif;
    color: inherit;
    font-size: 1.2em;
    padding-bottom: 10px;
  }
}

#section-4 {
  ul li {
    font-size: 1em;
  }
}

.box-part {
  border: 1px solid #333;
  padding: 10px;
  margin: 10px;

  .btn-group {
    margin-top: 10px;
  }
}
