*,
*::before,
*::after {
  box-sizing: border-box;
}

#birds-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.bird {
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
  }

  &--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
  }

  &--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
  }

  &--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
  }

}

.bird-container {
  position: absolute;
  top: 0;
  left: -7.5vw;
  transform: scale(0);
  will-change: transform;

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 15s;
    animation-delay: 0s;
  }

  &--two {
    animation-duration: 16s;
    animation-delay: 1s;
  }

  &--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
  }

  &--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
  }

}

@keyframes fly-cycle {

  100% {
    background-position: -900px 0;
  }

}

@keyframes fly-right-one {

  0% {
    left: -10%;
    transform: scale(0.3);
  }

  10% {
    left: 10%;
    transform: translateY(2vh) scale(0.4);
  }

  20% {
    left: 30%;
    transform: translateY(0vh) scale(0.5);
  }

  30% {
    left: 50%;
    transform: translateY(4vh) scale(0.6);
  }

  40% {
    left: 70%;
    transform: translateY(2vh) scale(0.6);
  }

  50% {
    left: 90%;
    transform: translateY(0vh) scale(0.6);
  }

  60% {
    left: 110%;
    transform: translateY(0vh) scale(0.6);
  }

  100% {
    left: 110%;
    opacity: 1;
    transform: translateY(0vh) scale(0.6);
  }

}

@keyframes fly-right-two {

  0% {
    left: -10%;
    opacity: 1;
    transform: translateY(-2vh) scale(0.5);
  }

  10% {
    left: 10%;
    transform: translateY(0vh) scale(0.4);
  }

  20% {
    left: 30%;
    transform: translateY(-4vh) scale(0.6);
  }

  30% {
    left: 50%;
    transform: translateY(1vh) scale(0.45);
  }

  40% {
    left: 70%;
    transform: translateY(-2.5vh) scale(0.5);
  }

  50% {
    left: 90%;
    transform: translateY(0vh) scale(0.45);
  }

  51% {
    left: 110%;
    transform: translateY(0vh) scale(0.45);
  }

  100% {
    left: 110%;
    transform: translateY(0vh) scale(0.45);
  }

}

.homepage-content {
  background-color: #fffaf0cc;
  border-radius: .28571429rem;
  box-shadow: 0 1px 21px #acacac;
  border-top: 12px solid #9f181c;
  border-bottom: 12px solid #333333;
  height: calc(100vh - 140px * 2);
  overflow-y: auto;
}

#navbar {

  .navbar-collapse {
    //background: linear-gradient(#e72510, #D9230F 6%, #cb210e) no-repeat;
    border-color: transparent;
  }

  &.transparent {
    background: transparent;

    .navbar-brand {
      background: transparent;

      &.brand-image img {
        border: 2px white solid;
      }
    }

    a {
      color: white;
    }

    .dropdown-menu a {
      color: black;
    }

    .icon-bar {
      background-color: white;
    }

    .navbar-toggle {
      border: 1px solid white;
    }

    .navbar-collapse {
      background: transparent;
      &.collapse {
        .nav > li > a:hover, .nav > li > a:focus {
          background-color: transparent;
          border: white 1px solid;
        }
      }
      &.collapse.in, &.collapsing {
        background: white;
        a {
          color: black;
        }
      }
    }

    .active > a {
      font-weight: bolder;
    }
  }
}

.overlay-content {
  overflow-y: auto;
  color: white;

  .left-bottom {
    position: absolute;
    bottom: 20px;
    text-align: center;

    .blockquote {

      p {
        font-size: 1.5em;
        text-indent: 0em;
        margin: 0em 0 0.25em 0;
        line-height: 1.25em;
        z-index: 1;
        font-style: italic;

        &::before {
          content: "\201C";
          font-size: 5em;
          position: relative;
          left: 0em;
          top: 0.45em;
          margin-right: 15px;
        }
      }

      footer {
        font-size: 1em;
        margin: 7px 0px 23px 0px;
      }

      button {
        cursor: pointer;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.3);
        padding: 5px 15px;

        &:hover {
          box-shadow: none;
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  h1.title {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 30px;
  }

  p.paragraph {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
    font-size: 17px;
    margin: 7px 0px 23px 0px;
  }
}

#content-container {
  z-index: 2;
  margin-top: 140px;
  margin-bottom: 140px;
}


/************************/

.header {
  margin: 30px;
}

.header__title {
  display: inline-block;
  font-weight: bold;
  margin-right: 20px;
}

.header__tagline {
  display: inline-block;
}

.keys {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

@media all and (max-width: 768px) {
  .keys {
    display: none;
  }
}

.container-poly-birds {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 20%;
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.birds {
  flex-shrink: 1;
  height: auto;
  max-width: 900px;
  width: 100%;
}

.birds circle {
  fill: #e0e0e0;
  pointer-events: none;
}

.birds path {
  pointer-events: none;
}

.bird-text {
  box-sizing: border-box;
  flex-shrink: 0;
  line-height: 1.44;
  padding: 0 20px;
  width: 50%;
  color: black;
  font-size: 1.4em;
}

@media all and (max-width: 768px) {
  .bird-text {
    padding: 20px;
    font-size: 1.2em;
    width: 60%;
  }
}

.bird-text__title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

@media all and (max-width: 768px) {
  .bird-text__title {
    font-size: 1.8em;
  }
}

.box {
  fill: transparent;
  cursor: pointer;
}

.box:hover {
  fill: #f2f2f2;
}
