@import "../../../node_modules/bootstrap-slider/src/sass/bootstrap-slider";
@import "../vendor/slick-grid";
@import "../vendor/slick-default-theme";
@import "../variables";

$control-buttons-height: 36px;

#segment-info {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$control-buttons-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height});
}

#segment-info-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$control-buttons-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height});
}

#controller-wrapper {
  height: $control-buttons-height;

  & > div {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }
  }

  .left {
    padding: 0 10px 0 0;
  }
  .right {
    padding: 0 0 0 10px;
  }

  #speed-controller {
    width: 300px;

    #speed-slider-handler .slider-selection {
      background: #d9230f7a;
    }
  }

  #segment-info-controller {
    width: calc(100% - 300px);
  }
}

#segment-info-filter {
  border: 0;
  padding: 0 !important;
  box-shadow: none;
  background-color: inherit;
  border-bottom: 1px solid;
  border-bottom-color: red;
  border-radius: 0;
}

.modal-dialog {
  margin: 30vh auto;
}

#spectrogram-details-tooltip {
  position: absolute;
  padding: 10px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
  pointer-events: none;
  z-index: 3;
  display: block;

  &.hidden {
    display: none;
  }
}
