@import "../variables";

$controller-wrapper-height: 36px;
$controller-wrapper-child-height: 25px;

$spectrogram-height: 200px;
$oscillogram-height: 100px;
$visualisation-height: 300px;

$spectrogram-zoomed-height: 400px;
$oscillogram-zoomed-height: 200px;
$zoomed-height: 600px;

$scrollbar-height: 15px;
$axis-height: 20px;

.axis {
  text {
    font: 10px sans-serif;
  }
  path {
    display: none;
  }
  line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .domain, .tick line {
    fill: none;
    stroke: black;
  }
}

#visualisation {
  height: calc(#{$visualisation-height} + #{$axis-height} + #{$scrollbar-height});
  overflow-y: hidden;
  overflow-x: visible;

  #oscillogram {
    height: #{$oscillogram-height};
    overflow-y: hidden;
  }

  #spectrogram {
    height: calc(#{$spectrogram-height} + #{$axis-height});
    overflow-y: hidden;

    .brush-handle {
      fill: #eee;
      stroke: #666;
    }

    .syllable {
      stroke: black;
      stroke-dasharray: 1 1;
      fill: black;
      fill-opacity: 0.2;
      &:hover, &.highlight {
        stroke: rgb(255, 101, 4);
        stroke-width: 2px;
        fill: transparent;
      }
    }

    .brush .selection {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
  }
}

#zoomed {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height});
  overflow-y: hidden;
  overflow-x: visible;

  #oscillogram-zoomed {
    height: calc((#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height} - #{$axis-height}) / 3);
    width: 100%;
  }

  #spectrogram-zoomed {
    height: calc((#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height} - #{$axis-height}) * 2 / 3);
    width: 100%;
  }
}

#oscillogram-zoomed-offset-holder,
#spectrogram-zoomed-offset-holder,
#zoomed-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height} - #{$axis-height});
}

#oscillogram, #oscillogram-zoomed {
  .line {
    fill: none;
    stroke: #007627;
    stroke-width: 1px;
  }
}

#segments-grid {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height});
}

#segments-grid-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height});
}

.controller-item {
  padding-top: 10px;
  display: inline-block;

  & > div {
    height: $controller-wrapper-child-height;
    line-height: $controller-wrapper-child-height;
  }
}

.slider-group {
  width: 100%;

  .slider-selection {
    background: #d9230f7a;
  }
}

.slider.slider-horizontal {
  width: 100%;
}

.modal-dialog {
  margin: 30vh auto;
}

