@import "../variables";

$controller-wrapper-height: 36px;
$controller-wrapper-child-height: 25px;
$grid-status-width: 150px;
$slider-group-width: 300px;

$spectrogram-height: 200px;
$oscillogram-height: 100px;
$visualisation-height: 300px;
$scrollbar-height: 15px;
$axis-height: 20px;

.axis {
  text {
    font: 10px sans-serif;
  }
  path {
    display: none;
  }
  line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .domain, .tick line {
    fill: none;
    stroke: black;
  }
}

#visualisation {
  height: calc(#{$visualisation-height} + #{$axis-height} + #{$scrollbar-height});
  overflow-y: hidden;
  overflow-x: visible;

  #oscillogram {
    height: #{$oscillogram-height};
    overflow-y: hidden;

    .line {
      fill: none;
      stroke: #007627;
      stroke-width: 1px;
    }
  }

  #spectrogram {
    height: calc(#{$spectrogram-height} + #{$axis-height});
    overflow-y: hidden;

    .brush-handle {
      fill: #eee;
      stroke: #666;
    }

    .syllable {
      stroke: black;
      fill: black;
      fill-opacity: 0.2;
      &:hover, &.highlight {
        stroke: rgb(255, 101, 4);
        stroke-width: 2px;
        fill: rgb(255, 101, 4);
      }
    }

    .brush .selection {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
  }
}

#segments-grid {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height} - #{$scrollbar-height} - #{$axis-height});
}

#segments-grid-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height} - #{$scrollbar-height} - #{$axis-height});
}

#spect-zoom {
  height: calc(#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height} - #{$visualisation-height} - #{$scrollbar-height} - #{$axis-height});
}

#controller-wrapper {
  height: $controller-wrapper-height;
  & > div {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }

    & > div {
      height: $controller-wrapper-child-height;
      line-height: $controller-wrapper-child-height;
    }
  }

  .input-group-addon {
    padding: 0;

    &.left {
      padding: 0 10px 0 0;
    }
    &.right {
      padding: 0 0 0 10px;
    }

  }

  #grid-status {
    width: $grid-status-width;
    text-align: left;

    .input-group-addon {
      text-align: left;
    }
  }

  .slider-group {
    width: $slider-group-width;

    .slider-selection {
      background: #d9230f7a;
    }
  }

  #segments-grid-controller {
    width: calc(100% - #{$grid-status-width} - #{$slider-group-width});
  }
}

.modal-dialog {
  margin: 30vh auto;
}

