@import "../vendor/slick-grid";
@import "../vendor/slick-default-theme";
@import "../variables";

$control-buttons-height: 36px;
$control-buttons-padding-bottom: 10px;

#control-buttons {
  height: $control-buttons-height;
  padding-bottom: $control-buttons-padding-bottom;
}

#segment-info {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$control-buttons-padding-bottom} - #{$control-buttons-height} - 2 * #{$main-content-padding});
}

#segment-info-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$control-buttons-padding-bottom} - #{$control-buttons-height} - 2 * #{$main-content-padding});
}