@import "../variables";

$scrollbar-height: 15px;
$axis-height: 18.6px;
$gap-between-svgs: 8px;
$visualisation-wrapper-padding-bottom: 10px;
$visualisation-control-height: 32px;

.axis {
  text {
    font: 10px sans-serif;
  }
  path {
    display: none;
  }
  line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .domain, .tick line {
    fill: none;
    stroke: black;
  }
}

#visualisation-wrapper {
  padding-bottom: $visualisation-wrapper-padding-bottom;
}

#visualisation {
  height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-control-height}) * 4 / 14 + #{$axis-height} + #{$scrollbar-height});
  overflow-y: hidden;
  overflow-x: visible;

  #oscillogram {
    height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$gap-between-svgs} - #{$visualisation-control-height}) * 1 / 14);
    overflow-y: hidden;
  }

  #spectrogram {
    height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$gap-between-svgs} - #{$visualisation-control-height}) * 3 / 14 + #{$axis-height});
    overflow-y: hidden;

    .brush-handle {
      fill: #eee;
      stroke: #666;
    }

    .syllable {
      stroke: black;
      stroke-dasharray: 1, 1;
      fill: black;
      fill-opacity: 0.2;
      &:hover, &.highlight {
        stroke: rgb(255, 101, 4);
        stroke-width: 2px;
        fill: transparent;
        -webkit-animation: border-blink 1s step-end infinite;
        animation: border-blink 1s step-end infinite;
      }
    }

    .brush .selection {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
  }
}

#visualisation-control {
  height: $visualisation-control-height;
  .control-item {
    padding-top: 5px;
  }
}

#zoomed {
  height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-wrapper-padding-bottom} - #{$visualisation-control-height}) * 10 / 14);
  overflow-y: hidden;
  overflow-x: visible;

  #oscillogram-zoomed {
    height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-wrapper-padding-bottom} - #{$gap-between-svgs} - #{$visualisation-control-height}) * 2 / 14);
    width: 100%;
  }

  #spectrogram-zoomed {
    height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-wrapper-padding-bottom} - #{$gap-between-svgs} - #{$visualisation-control-height}) * 8 / 14);
    width: 100%;
  }
}

#oscillogram, #oscillogram-zoomed {
  .line {
    fill: none;
    stroke: #007627;
    stroke-width: 1px;
  }
}

#segments-grid {
  height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-wrapper-padding-bottom} - #{$visualisation-control-height}) * 10 / 14);
}

.slider-group {
  width: 100%;

  .slider-selection {
    background: #d9230f7a;
  }
}

.slider.slider-horizontal {
  width: 100%;
}

.modal-dialog {
  margin: 30vh auto;
}

#song-info {
  table-layout: fixed;

  tr td {
    word-wrap: break-word;

    &:first-child {
      font-weight: bolder;
    }
  }
}
