@import "../variables";

#sequence-mining-grid, #graph {
  height: calc(#{$max-screen-height} - #{$main-content-padding-top} - #{$controller-wrapper-height} - #{$main-content-padding-bottom});
}


#sequence-mining-filter-controller {
  height: $controller-wrapper-height;
  & > div {
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }

    & > div {
      height: $controller-wrapper-child-height;
      line-height: $controller-wrapper-child-height;
    }
  }

  .input-group-addon {
    padding: 0 10px;
  }

  #grid-status {
    width: 100%;
    text-align: left;

    .input-group-addon {
      text-align: left;
    }
  }

  .slider-group {
    width: 100%;

    .slider-selection {
      background: #d9230f7a;
    }
  }
}

#sequence-mining-grid-filter {
  border: 0;
  padding: 0 !important;
  box-shadow: none;
  background-color: inherit;
  border-bottom: 1px solid;
  border-bottom-color: red;
  border-radius: 0;
}

.modal-dialog {
  margin: 30vh auto;
}

#spectrogram-details-tooltip {
  position: absolute;
  padding: 10px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
  pointer-events: none;
  z-index: 3;
  display: block;

  &.hidden {
    display: none;
  }
}

#graph {
  height: calc(#{$max-screen-height} - #{$main-content-padding-top} - #{$main-content-padding-bottom});

  svg {
    width: 100%;
    height: 100%;
  }

  .link {
    &.pseudo {
      stroke: #eee;
    }
    &.hide {
      stroke: none;
    }
    stroke-opacity: 1;
    fill: none;
  }

  text.hide {
    display: none;
  }
  .nodes circle {
    stroke: black;
  }
}
