@import "../variables";

$scrollbar-height: 15px;
$axis-height: 18.6px;
$gap-between-svgs: 8px;
$visualisation-control-height: 32px;
$selectize-input-height: 36px;
$selectize-input-margin-top: 10px;
$selectize-input-margin-bottom: 10px;

#track-visualisation {
  overflow-y: hidden;
  overflow-x: visible;

  #oscillogram {
    height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 1 / 14);
    overflow-y: hidden;
  }

  #spectrogram {
    height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 3 / 14 + #{$axis-height});
    overflow-y: hidden;

    .brush-handle {
      fill: #eee;
      stroke: #666;
    }

    .syllable {
      stroke: black;
      stroke-dasharray: 1, 1;
      fill: black;
      fill-opacity: 0.2;
      &:hover, &.highlight {
        stroke: rgb(255, 101, 4);
        stroke-width: 2px;
        fill: transparent;
        -webkit-animation: border-blink 1s step-end infinite;
        animation: border-blink 1s step-end infinite;
      }
    }

    .brush .selection {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
  }
}

#visualisation-control {
  height: $visualisation-control-height;
  .control-item {
    padding-top: 5px;
  }
}

#song-partition-grid {
  height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$axis-height} - #{$scrollbar-height} - #{$visualisation-control-height}) * 10 / 14 - #{$selectize-input-height} - #{$selectize-input-margin-top} - #{$selectize-input-margin-bottom});
}

.slider-group {
  width: 100%;

  .slider-selection {
    background: #d9230f7a;
  }
}

.slider.slider-horizontal {
  width: 100%;
}

#song-name-pattern .selectize-control, #track-info {
  label {
    margin-bottom: 0;
  }

  .form-control {
    padding: 5px !important;
    border-radius: 0;
  }

  .input-group input {
    background-color: transparent;
    color: white;
  }

  .input {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }
}

.show-on-progress {
  display: none;

  #track-info {
    .input-group input {
      color: unset;
    }
  }
}

#song-name-pattern .selectize-control {
  margin-top: $selectize-input-margin-top;
  margin-bottom: $selectize-input-margin-bottom;
  padding: 0 !important;
  height: $selectize-input-height !important;

  .form-control {
    position: absolute;
  }

  .selectize-input {
    height: $selectize-input-height !important;
    min-height: unset;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.has-items {
      padding-top: 3px !important;
      .item {
        //background: black;

        box-shadow: none;
        padding: 4px 6px;

        &.is-var {
          background-image: linear-gradient(#e72510, #D9230F 6%, #cb210e);
          color: white;
        }
      }
    }
  }
}
