@import "../../../node_modules/bootstrap-slider/src/sass/bootstrap-slider";
@import "../vendor/slick-grid";
@import "../vendor/slick-default-theme";
@import "../variables";

$controller-wrapper-height: 36px;
$controller-wrapper-child-height: 25px;
$grid-status-width: 150px;
$speed-controller-width: 300px;


#songs-grid {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height});
}

#songs-grid-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height});
}

#controller-wrapper {
  height: $controller-wrapper-height;
  & > div {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }

    & > div {
      height: $controller-wrapper-child-height;
      line-height: $controller-wrapper-child-height;
    }
  }

  .input-group-addon {
    padding: 0;

    &.left {
      padding: 0 10px 0 0;
    }
    &.right {
      padding: 0 0 0 10px;
    }

  }

  #grid-status {
    width: $grid-status-width;
    text-align: left;

    .input-group-addon {
      text-align: left;
    }
  }

  #speed-controller {
    width: $speed-controller-width;

    #speed-slider-handler .slider-selection {
      background: #d9230f7a;
    }
  }

  #songs-grid-controller {
    width: calc(100% - #{$grid-status-width} - #{$speed-controller-width});
  }
}

#songs-grid-filter {
  border: 0;
  padding: 0 !important;
  box-shadow: none;
  background-color: inherit;
  border-bottom: 1px solid;
  border-bottom-color: red;
  border-radius: 0;
}

.modal-dialog {
  margin: 30vh auto;
}

#spectrogram-details-tooltip {
  position: absolute;
  padding: 10px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
  pointer-events: none;
  z-index: 3;
  display: block;

  &.hidden {
    display: none;
  }
}
