@import "../variables";

#songs-grid {
  height: calc(#{$max-screen-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top});
}


#songs-grid-filter {
  border: 0;
  padding: 0 !important;
  box-shadow: none;
  background-color: inherit;
  border-bottom: 1px solid;
  border-bottom-color: red;
  border-radius: 0;
}

.modal-dialog {
  margin: 30vh auto;
}

#spectrogram-details-tooltip {
  position: absolute;
  padding: 10px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
  pointer-events: none;
  z-index: 3;
  display: block;

  &.hidden {
    display: none;
  }
}
