@import "../variables";

$plotly-controller-height: 38px;

#plotly-controller {
  height: $plotly-controller-height
}

#plotly-plot {
  height: calc(#{$max-screen-height} - #{$navbar-height} - #{$plotly-controller-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top});
}

.main-content {
  .content-center {
    overflow-y: auto;
  }
}
