@import "../vendor/slick-grid";
@import "../vendor/slick-default-theme";
@import "../variables";

#version-grid {
  max-height: calc(#{$max-screen-height} - #{$navbar-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height});
}

#version-grid-offset-holder {
  display: none;
  height: calc(100000px - #{$navbar-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$bottom-height});
}
